/*******************************************************************************
 * TABLE PARAMETERS
 ******************************************************************************/

/* @sapUiTableRowHeight: 28px;
@sapUiTableColHdrHeight: 28px; */


/*******************************************************************************
 * TABLE SECTIONS
 ******************************************************************************/

.sapUiLnk, .sapUiLnkDsbl {
	font-family: inherit;
}

.sapUiTable>div {
	border: none;
}

.sapUiTable > .sapUiTableHdr {
	border: none;
	border-bottom: 0;
	height: auto;
	padding: 0;
	margin-bottom: 0.5rem;
	background-color: transparent;
} 

.sapUiTableHdrTitle {
	/* font-size: 0.75rem; */
	/* height: 100%; */
	font-family: "Segoe UI Light", "Segoe UI", "Helvetica Neue", Arial, sans-serif;
	font-size: 1.75rem;line-height: auto;
	font-weight: 100;
	color: #333;
}

.sapUiTable > .sapUiTableFtr {
	height: auto;
	line-height: auto;
	background-color: transparent;
	/* padding-top: 0.25rem; */
	padding-left: 1rem;
}

.sapUiTableVSb {
	position: absolute;
	top: 0px;
	right: 0px;
	width: 8px;
	bottom: 0px;
}

.sapUiTable > .sapUiTableTbr {
	border: none;
	border-bottom: 1px solid @sapFlatExtraLightBorder;
	height: auto;
}

.sapUiTableTbr > .sapUiTb {
	background-color: transparent;
}

.sapUiTable > .sapUiTableExt {
	border: none;
	border-bottom: 1px solid @sapFlatExtraLightBorder;
	padding-left: 1rem;
	height: 2rem;
	vertical-align: middle;
	line-height: inherit;
}

.sapUiTableColRowHdrIco {
	background-image: url('img/Select_All_Icon.png');
	background-position: 50% 50%;
}

.sapUiTableColRowHdr,
.sapUiTableRowHdr,
.sapUiTableColHdrCnt {
	background-color: @sapFlatExtraLightBG;
}

.sapUiTableColRowHdr,
.sapUiTableCol {
	/* padding-top: 5px; */
	/* padding-bottom: 5px; */
	height: 2rem !important;
}

.sapUiTableColIcons {
	padding-top: 6px;
}

.sapUiTableCol:hover,
.sapUiTableColRowHdr:hover {
	background-color: fade(@sapFlatHighlight, 12.5%);
}

.sapUiTableSelModeSingle .sapUiTableRowHdr.sapUiTableRowSel,
.sapUiTableSelModeMulti .sapUiTableRowHdr.sapUiTableRowSel {
	background-color: fade(@sapFlatHighlight, 12.5%);
	border-right-color: fade(@sapFlatHighlight, 12.5%);
}

.sapUiTableRowHdr.sapUiTableRowHvr {
	background-color: fade(@sapFlatHighlight, 12.5%);
}

.sapUiTableColHdrCnt {
	border-bottom: 1px solid @sapFlatExtraLightBorder;
}

.sapUiTableCol {
	/* border-bottom: 1px solid @sapFlatExtraLightBorder;*/
}

.sapUiTableColHdr:not(:first-of-type) .sapUiTableCol {
	border-bottom: 1px solid @sapFlatExtraLightBorder;
}

.sapUiTable > .sapUiTableCnt {
	border-left: none;
	border-right: none;
}

.sapUiTableColRowHdr,
.sapUiTableRowHdr {
	border-right: none;
}

.sapUiTableRowHdr,
.sapUiTableTr > td {
	padding-top: 0;
	padding-bottom: 0;
	border-bottom: 1px solid @sapFlatExtraLightBorder;
}

.sapUiTableCtrl.sapUiTableCtrlRowFixed tr:last-child > td {
	padding-top: 2px;
	padding-bottom: 1px;
	border-bottom: 1px solid @sapFlatExtraLightBorder;
}

.sapUiTableRowHdr:last-child,
.sapUiTableCtrl tr:last-child > td {
	border-bottom: none;
}

.sapUiTableEdt .sapUiTableCtrl {
	background: @sapFlatLightestBG;
}

.sapUiTableCtrl tr.sapUiTableRowHvr {
	background: @sapFlatLightestBG;
}

.sapUiTableSelModeSingle .sapUiTableCtrl tr.sapUiTableRowSel > td {
	/* ?
	border-top: 2px solid @sapUiListHighlightColor;
	border-bottom: 2px solid @sapUiListHighlightColor;
	padding-top: 0;
	padding-bottom: 0; */
}

.sapUiTableSelModeMulti .sapUiTableCtrl tr.sapUiTableRowSel > td {
		background-color: @HighlightBg;

}

.sapUiTableSelModeMulti .sapUiTableCtrl tr.sapUiTableRowSel.sapUiTableRowHvr > td {
	/* ? 
	background-color: mix(@sapUiListHighlightColor, @sapUiListSelectionBackgroundColor, 10.35%); */
}

.sapUiTableSelModeSingle .sapUiTableRowHdr.sapUiTableRowSel,
.sapUiTableSelModeSingle .sapUiTableCtrl tr.sapUiTableRowSel {
	background-color : @sapFlatHighlight;
	color : @sapFlatInvertedText;
}

/* support for left border in RowOnly selection behavior */
.sapUiTableTr > td.sapUiTableTdFirst {
	/* padding-left: 2px; */
}

.sapUiTableRSel .sapUiTableTr > td.sapUiTableTdFirst {
	padding-left: 0;
}

.sapUiTableTr > td.sapUiTableTdFirst > .sapUiTableCell {
	/* padding-left: 6px; */
}

.sapUiTableRSel .sapUiTableTr > td.sapUiTableTdFirst > .sapUiTableCell {
	/* padding-left: 8px; */
}

.sapUiTableSelModeSingle .sapUiTableCtrl tr.sapUiTableRowSel > td.sapUiTableTdFirst {
	/* border-left: 2px solid @sapFlatExtraLightBorder;
	padding-left: 0px; */
}

.sapUiTableSelModeSingle.sapUiTableRSel .sapUiTableCtrl tr.sapUiTableRowSel > td.sapUiTableTdFirst {
	border-left: none;
}

.sapUiTableRowHdr.sapUiTableRowHvr {
	border-bottom: 1px solid @sapFlatExtraLightBorder;
}

.sapUiTableCtrl tr:hover:first-child {
	border: none;
}

.sapUiTableTreeIcon {
	padding-top: 3px;
}

.sapUiTableCtrl tr.sapUiTableGroupHeader,
.sapUiTableRowHdr.sapUiTableGroupHeader {
	background-color: transparent;
}

.sapUiTv {
	vertical-align: middle;
	/* line-height: 2rem; */
}

.sapUiTableRowHdr, .sapUiTableTr > td {
	padding-top: 0;
	padding-bottom: 0;
}

.sapUiTableRowHdr {
	width: 4px;

}

.sapUiTableRowHdrScr {
	width: 4px;
	border-bottom: 1px solid #005b8d;
}


.sapUiTableRSel .sapUiTableCtrlScr, .sapUiTableRSel .sapUiTableCtrlScrFixed {
	margin-left: 4px;
}

.sapUiTableColCell {
	padding: 0;
}

.sapUiTableCell {
	height: auto;
	vertical-align: auto;
	line-height: auto;
}

.sapUiTable>div:last-child {
	border-top: 1px solid #cccccc;
	border-bottom: 1px solid #cccccc;
}

.sapUiTableRSel .sapUiTableColHdrScr, .sapUiTableRSel .sapUiTableColHdrFixed {
	margin-left: 0.75rem;
}

.sapUiTableCol .sapUiLbl, .sapUiTableCell>.sapUiTf, .sapUiTableCell>.sapUiSearchField, .sapUiTableCell>.sapUiSearchField>.sapUiTfCombo, .sapUiTableCell>.sapUiTfCombo {
	padding: 0 0.25rem;
}

.sapUiTableCol .sapUiLbl, .sapUiTableCell>.sapUiTf, .sapUiTableCell>.sapUiSearchField, .sapUiTableCell>.sapUiSearchField>.sapUiTfCombo, .sapUiTableCell>.sapUiTfCombo {
	height: 2rem;
	line-height: 2rem;
}

.sapUiTv {
	height: 2rem;
	line-height: 1.5rem;
}

.sapUiPagBack, .sapUiPagForward {
	background: none;
	background-position: left top;

	padding-left: 1rem;
	padding-right: 0.5rem;
	line-height: 2rem;
	font-size: 0.875rem;
	color: @sapFlatLink;
}

.sapUiPagBack:before {
	content: "\2190\00a0";
}

.sapUiPagForward:after {
	content: " \2192";
}

.sapUiTablePaginator {
	text-align: center;
	padding: 0px;
	line-height: 2rem;
}

.sapUiPagFirst, .sapUiPagLast {
	height: 2rem;
	line-height: 2rem;
	font-size: 0.875rem;
}

.sapUiPagFirst {
	margin-right: 1.5rem;
}

.sapUiPagLast {
	margin-left: 1.5rem;
}

.sapUiPagPage {
	display: inline-block;
	vertical-align: top;
	text-align: center;
	padding: 0 0.5rem;
	border: 0;
	margin: 0;
	cursor: pointer;
	line-height: 2rem;
}

.sapUiPagPage a {
	line-height: 2rem;
	font-size: 0.875rem;
	color: @sapFlatLink;
}

.sapUiLink {
	color: @sapFlatLink;
}

.sapUiTablePaginator {
	border-top: 1px solid black !important;
}


/* special handling for vertical scrollbar in firefox */
html[data-sap-ui-browser*='ff'] .sapUiTableVSb {
	width: 16px;
}

/* special handling for vertical scrollbar in IE */
html[data-sap-ui-browser*='ie'] .sapUiTableVSb {
	width: 16px;
}

.resourceListIF {
	margin-bottom: 20px;
}

.sapUiTableColRsz:before {
	background: fade(@sapFlatExtraLightBorder, 12.5%);
	content: "";
	height: 100%;
	left: 3px;
	position: absolute;
	width: 1px;
}