/*!
 * SAP UI development toolkit for HTML5 (SAPUI5)

(c) Copyright 2009-2015 SAP SE. All rights reserved
 */
/* Global CSS for 'base' theme */
/* ---------------------------------------------------------------------------------------- */
/* TMP during LESS convertion ---- to be deleted */
/* may be required by SubstitutionRulesManager.css in inbox lib */
/* ---------------------------------------------------------------------------------------- */
/** 
  * This parameter is used in the Shell control to calculate the size when it grows.
  * !!! ONLY PX-VALUES ARE ALLOWED HERE. 
  */
/** 
  * This parameter is used in the Shell control to calculate the size of the margin when showing
  * an overflow button in the right pane. As of 1.18.0 this value contains the _maximum_ height
  * of the overflow button, if the text inside the button is smaller, the button shrinks with it.
  * !!! ONLY PX-VALUES ARE ALLOWED HERE.
  */
/* Approved by UX to use a hard coded color value for this */
/* NotificationBar */
/* The maximized height will be calculated corresponding to the window's height.*/
/* ToolPopup */
/* Telling the ToolPopup if it's inverted per default */
/* transparent; */
/* Default margins classes to be used by the application for all controls */
/*make tiny margin themable*/
/*make small margin themable*/
/*make medium margin themable*/
/*make large margin themable*/
/* 
 * This is a mixin for creating the predefined container content padding
 * classes:
 * sapUiNoContainerContentPadding
 * sapUiContainerContentPadding
 * sapUiResponsiveContainerContentPadding
 * These classes can be set on many UI5 containers and will 
 * add padding inside the container's content padding based 
 * on the selectors that are arguments for this mixin.
 *
 * Arguments to this function-like mixin are the rootClass selector and
 * the content selector where the padding should be applied.
 */
/* 
  * the sapLess-parser has problems with an escaped string as default value for the parameterized mixin
  * therefore we need to temporarily use a parameter assigning the default value
  */
/* This CSS shares it rules with all other CSS of this library */
/******************************************************************
	Style of the RTA ToolBar
*******************************************************************/
/*	can be used to style the whole toolbar */
/********************* FADING ******************************/
@-webkit-keyframes FadeIn {
  from {
    height: 0rem;
  }
  to {
    height: 3rem;
  }
}
@keyframes FadeIn {
  from {
    height: 0rem;
  }
  to {
    height: 3rem;
  }
}
@-webkit-keyframes FadeOut {
  from {
    height: 3rem;
  }
  to {
    height: 0rem;
  }
}
@keyframes FadeOut {
  from {
    height: 3rem;
  }
  to {
    height: 0rem;
  }
}
/****************** TOP TOOLBAR ***************************/
.sapUiRTAToolBarTop {
  top: 0rem;
  width: 100%;
  left: 0;
  right: 0;
  height: 0rem;
  position: absolute;
  background-color: #000000;
  border-top: 0.25rem solid #f0ab00;
  visibility: visible;
  z-index: 10;
}
.sapUiRTAToolBarTop.sapUiRTAToolBarTopVisible {
  -webkit-animation: FadeIn ease-in 1;
  animation: FadeIn ease-in 1;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
}
.sapUiRTAToolBarTop.sapUiRTAToolBarTopInvisible {
  -webkit-animation: FadeOut ease-in 1;
  animation: FadeOut ease-in 1;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
}
.sapUiRTAToolBarTop .sapMLabel {
  color: #ffffff;
  font-family: Arial, Helvetica, sans-serif;
  line-height: normal;
  text-shadow: none;
  cursor: default;
}
.sapUiRTAToolBarTop.sapMIBar .sapMBarChild:first-child {
  margin-left: 1.25rem;
}
.sapUiRTAToolBarTop.sapMIBar > .sapMBarChild:last-child {
  margin-right: 1.25rem;
}
.sapUiRTAToolBarTop .sapMBtnContent {
  color: #ffffff;
}
.sapUiRTAToolBarTop :not(.sapMBtnDisabled) > .sapMBtnTransparent.sapMBtnActive,
.sapUiRTAToolBarTop :not(.sapMBtnDisabled):hover > .sapMBtnTransparent.sapMBtnActive {
  background-color: #111177;
  border-color: #111177;
}
.sapUiRTAToolBarTop .sapMBtnInner {
  border-radius: initial;
}
.sapUiRTAToolBarTop .sapMBtnTransparent.sapMBtnHoverable:hover {
  background-color: #a9a9a9;
}
.sapUiRTAToolBarTop .sapUiDtToolbarSpacerStyle {
  border-left: none !important;
  border-right: none !important;
}
.sapUiRTAToolBarTop.sapMTBActive {
  cursor: default;
}
/****************** BOTTOM TOOLBAR ***************************/
.sapUiRTAToolBarBottom {
  bottom: 0rem;
  z-index: 10;
  width: 100%;
  left: 0px;
  height: 0rem;
  position: absolute;
  background-color: #000000;
  pointer-events: none;
}
.sapUiRTAToolBarBottom.sapUiDtEmptyBackground {
  background-image: none!important;
}
.sapUiRTAToolBarBottomVisible {
  -webkit-animation: FadeIn ease-in 1;
  animation: FadeIn ease-in 1;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
}
.sapUiRTAToolBarBottomInvisible {
  -webkit-animation: FadeOut ease-in 1;
  animation: FadeOut ease-in 1;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
}
/******************************************************************
	Style of the RTA FieldRepository
*******************************************************************/
.sapUIRtaFieldRepositoryDialog .sapUiDlgCont {
  padding: 0px !important;
}
.sapUIRtaFieldRepositoryDialog .sapUiDlgHdr {
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: center;
}
.sapUIRtaFieldRepositoryDialog .sapUiTable > div.sapUiTableCnt {
  border-left: 0px;
  border-right: 0px;
}
.sapUIRtaFieldRepositoryDialog .sapUiDlgFooter {
  height: 60px;
}
.sapUIRtaFieldRepositoryDialog .sapUiDlgFooter .sapMBtnInner {
  background-color: transparent;
  background: none;
  border: none;
  text-shadow: none;
  color: white;
}
.sapUIRtaFieldRepositoryDialog .sapUiTableCol,
.sapUIRtaFieldRepositoryDialog .sapUiTableTr > td {
  border: none;
}
.sapUIRtaFieldRepositoryDialog .sapUiTableCol,
.sapUIRtaFieldRepositoryDialog .sapUiTableTr > td {
  border: none;
}
.sapUIRtaFieldRepositoryDialog .sapMSFF {
  border: none;
}
.sapUIRtaFieldRepositoryDialog .sapMTB {
  border: none;
}
.sapUIRtaFieldRepositoryDialog .resourceListIF {
  border-right: 1px solid #cdcdcd;
}
.sapUIRtaFieldRepositoryDialog .sapUiLbl {
  margin-left: 12px;
}
.sapUIRtaFieldRepositoryDialog .sapMIBar > .sapMBarChild:last-child {
  margin-right: 12px;
}
.sapUIRtaFieldRepositoryDialog .sapUiLblIco {
  font-size: 1.2rem;
}
.sapUIRtaFieldRepositoryDialog .sapUIRtaValueCell {
  height: 18px;
  width: 300px;
}
/******************************************************************
	Style of the RTA Overlays
*******************************************************************/
.sapUiRtaOverlayHover {
  background: rgba(0, 0, 0, 0.108);
  -webkit-transition: background 0.1s cubic-bezier(1, 0.01, 1, 0);
  -moz-transition: background 0.1s cubic-bezier(1, 0.01, 1, 0);
  -o-transition: background 0.1s cubic-bezier(1, 0.01, 1, 0);
  transition: background 0.1s cubic-bezier(1, 0.01, 1, 0);
}
.sapUiDtOverlaySelected {
  background: rgba(17, 17, 119, 0.1);
  outline: auto rgba(17, 17, 119, 0.7) 0px;
}
.sapUiDtOverlaySelected.sapUiRtaOverlayHover {
  background: rgba(17, 17, 119, 0.2);
}
.sapUiDtOverlaySelected:focus {
  outline-width: 5px;
}
.sapUiDtOverlayDroppable {
  outline: none;
}
.sapUiDtOverlayDroppable:after {
  content: " ";
  pointer-events: none;
  position: absolute;
  top: 1px;
  bottom: 1px;
  left: 1px;
  right: 1px;
  border: 1px dashed #111177;
}
.sapUiDtOverlayDroppable > .sapUiDtOverlayDraggable {
  background: rgba(17, 17, 119, 0.1);
  outline: 1px solid white;
  outline-offset: -1px;
}
.sapUiDtOverlayDroppable .sapUiRtaOverlayPlaceholder {
  background: #fafafa;
}
.sapUiDtDragGhost {
  background: rgba(17, 17, 119, 0.1);
}
.sapUiRtaEditLabel {
  outline: 1px solid #969696;
  outline-offset: 2px;
  top: -3px;
  padding-top: 1px;
}
.sapUiRtaEditTitle {
  outline: 1px solid #969696;
  outline-offset: 2px;
  top: 3px;
}
