/* ================================================= */
/* CSS for control sap.ui.commons/Button.control     */
/* Flat                                      */
/* ================================================= */

.sapUiBtn {
	height: 2rem;
	padding: 0 1rem;
	font-size: 0.875rem;
}

.sapUiBtnS.sapUiBtnNorm {
	color: @sapFlatStandardText;
	border-width: 1px;
	border-style: solid;
	border-color: @sapFlatExtraDarkBorder;
	border-radius: 2px;
}

.sapUiBtnS.sapUiBtnNorm.sapUiBtnStd {
	background-color: @BtnBG;
	color:@BtnClr;
}

/* button focus state */
.sapUiBtnS.sapUiBtnStd:focus,
.sapUiBtnS.sapUiBtnStd.sapUiBtnStdFocus {
	outline: 1px solid fade(@sapFlatDarkestBorder ,50%);
	background-color: @sapFlatButtonStandardBG;
}

.sapUiBtnS.sapUiBtnNorm.sapUiBtnStd:focus,
.sapUiBtnS.sapUiBtnNorm.sapUiBtnStd.sapUiBtnStdFocus {
	outline: 1px solid fade(@sapFlatDarkestBorder ,50%);
	background-color: @sapFlatButtonStandardBG;
}

.sapUiBtnS.sapUiBtnNorm.sapUiBtnStd:hover {
	background-color: darken(@BtnBG, 2.5%);
	color: @sapFlatStandardText;
	border-color: @sapFlatExtraDarkBorder;
}

.sapUiBtnS.sapUiBtnNorm.sapUiBtnAct:hover {
	background-color: darken(@sapFlatButtonStandardBG, 5%);
	color: @sapFlatStandardText;
	border-color: @sapFlatExtraDarkBorder;
}

.sapUiBtnS.sapUiBtnNorm.sapUiBtnAct:hover {
	background-color: darken(@sapFlatButtonStandardBG, 5%);
	color: @sapFlatStandardText;
	border-color: @sapFlatExtraDarkBorder;
}

.sapUiBtnS.sapUiBtnNorm.sapUiBtnDsbl,
.sapUiBtnS.sapUiBtnNorm.sapUiBtnDsbl:focus {
	background-color: @sapFlatButtonStandardBG;
	color: fade(@sapFlatStandardText,50%);
	border-color: @sapFlatExtraDarkBorder;
}

/*emphasized Button*/
.sapUiBtnS.sapUiBtnEmph {
	font-weight: normal;
	background-color:@BtnEmphClr;
	color: #fff;
}

.sapUiBtnS.sapUiBtnNorm.sapUiBtnEmph {
	background-color: @sapFlatButtonStandardBG;
	border-color: @sapFlatExtraDarkBorder;
	font-weight: normal;
	padding: 0 2rem;
}

.sapUiBtnS.sapUiBtnNorm.sapUiBtnEmph.sapUiBtnStd:focus,
.sapUiBtnS.sapUiBtnNorm.sapUiBtnEmph.sapUiBtnStd:hover {
	background-color: darken(@sapFlatBrand, 2.5%);
	border-color: @sapFlatExtraDarkBorder;
}

.sapUiBtnS.sapUiBtnNorm.sapUiBtnEmph.sapUiBtnAct,
.sapUiBtnS.sapUiBtnNorm.sapUiBtnEmph.sapUiBtnAct:focus,
.sapUiBtnS.sapUiBtnNorm.sapUiBtnEmph.sapUiBtnAct:hover,
.sapUiBtnS.sapUiBtnNorm.sapUiBtnEmph.sapUiBtnStd:active {
	background-color: darken(@sapFlatBrand, 5%);
	border-color: @sapFlatExtraDarkBorder;
}

.sapUiBtnS.sapUiBtnNorm.sapUiBtnEmph.sapUiBtnDsbl,
.sapUiBtnS.sapUiBtnNorm.sapUiBtnEmph.sapUiBtnDsbl:focus {
	border-color: @sapFlatExtraDarkBorder;
	background-color: @sapFlatButtonStandardBG;
	opacity: 0.5;
}

/* accept button*/
.sapUiBtnS.sapUiBtnAccept {
	font-weight: normal;
}

.sapUiBtnS.sapUiBtnStd.sapUiBtnAccept {
	color: @sapFlatInvertedText;
}

.sapUiBtnS.sapUiBtnNorm.sapUiBtnAccept {
	background-color: @sapFlatPositiveElement;
	border-color: @sapFlatExtraDarkBorder;
}

.sapUiBtnS.sapUiBtnAccept.sapUiBtnStd:focus,
.sapUiBtnS.sapUiBtnAccept.sapUiBtnStd:hover {
	/*font-weight: bold;*/
	background-color: darken(@sapFlatPositiveElement, 2.5%);
	border-color: @sapFlatExtraDarkBorder;
	color: @sapFlatInvertedText;
}

.sapUiBtnS.sapUiBtnNorm.sapUiBtnAccept.sapUiBtnStd:focus,
.sapUiBtnS.sapUiBtnNorm.sapUiBtnAccept.sapUiBtnStd:hover {
	border-color: @sapFlatExtraDarkBorder;
}

.sapUiBtnS.sapUiBtnNorm.sapUiBtnAccept.sapUiBtnAct,
.sapUiBtnS.sapUiBtnNorm.sapUiBtnAccept.sapUiBtnAct:focus,
.sapUiBtnS.sapUiBtnNorm.sapUiBtnAccept.sapUiBtnAct:hover,
.sapUiBtnS.sapUiBtnNorm.sapUiBtnAccept.sapUiBtnStd:active {
	background-color: darken(@sapFlatPositiveElement, 5%);
	border-color: @sapFlatExtraDarkBorder;
	color: @sapFlatInvertedText;
}

.sapUiBtnS.sapUiBtnNorm.sapUiBtnAccept.sapUiBtnDsbl,
.sapUiBtnS.sapUiBtnNorm.sapUiBtnAccept.sapUiBtnDsbl:focus {
	background-color: fade(@sapFlatPositiveElement, 75%);
	border-color: @sapFlatExtraDarkBorder;
	color: @sapFlatInvertedText;
}

/* reject button*/
.sapUiBtnS.sapUiBtnReject{
	font-weight: normal;
}

.sapUiBtnS.sapUiBtnStd.sapUiBtnReject{
	color: @sapFlatInvertedText;
}

.sapUiBtnS.sapUiBtnNorm.sapUiBtnReject{
	background-color: @sapFlatNegativeElement;
	border-color: @sapFlatExtraDarkBorder;
}

.sapUiBtnS.sapUiBtnReject.sapUiBtnStd:focus,
.sapUiBtnS.sapUiBtnReject.sapUiBtnStd:hover {
	/*font-weight: bold;*/
	background-color: darken(@sapFlatNegativeElement, 2.5%);
}

.sapUiBtnS.sapUiBtnNorm.sapUiBtnReject.sapUiBtnStd:focus,
.sapUiBtnS.sapUiBtnNorm.sapUiBtnReject.sapUiBtnStd:hover {
	border-color: @sapFlatExtraDarkBorder;
	color: @sapFlatInvertedText;
}

.sapUiBtnS.sapUiBtnNorm.sapUiBtnReject.sapUiBtnAct,
.sapUiBtnS.sapUiBtnNorm.sapUiBtnReject.sapUiBtnAct:focus,
.sapUiBtnS.sapUiBtnNorm.sapUiBtnReject.sapUiBtnAct:hover,
.sapUiBtnS.sapUiBtnNorm.sapUiBtnReject.sapUiBtnStd:active {
	background-color: darken(@sapFlatNegativeElement, 5%);
	border-color: @sapFlatExtraDarkBorder;
}

.sapUiBtnS.sapUiBtnNorm.sapUiBtnReject.sapUiBtnDsbl,
.sapUiBtnS.sapUiBtnNorm.sapUiBtnReject.sapUiBtnDsbl:focus {
	background-color: fade(@sapFlatNegativeElement, 75%);
	color: @sapFlatInvertedText;
	border-color: @sapFlatExtraDarkBorder;
}

/* sidebars */
.rightsidebar, .leftsidebar {
	.sapUiBtn {
		height: 3rem;
		padding: 0 1rem;
		width : 100%;

	}

	.sapUiBtnS.sapUiBtnNorm {
		color:@RightSideBarClr;
		border-width: 0;
		border-style: none;
		border-color: transparent;
		background-color: transparent;
		border-radius: 0;
		min-width: 36px;
		font-size: 1.2rem;
		padding: 0;
		text-align: center;
	}
	
	.sapUiBtnS.sapUiBtnNorm.sapUiBtnStd:hover,
	.sapUiBtnS.sapUiBtnNorm.sapUiBtnAct:hover {
		background-color: fade(@SideBarHighlightBG, 25%);
		border-color: transparent;
	}
	
	.sapUiBtnS.sapUiBtnNorm.sapUiBtnStd:focus {
		outline: none;
		background-color: transparent;
	}

	.sapUiBtnS.sapUiBtnNorm.sapUiBtnDsbl,
	.sapUiBtnS.sapUiBtnNorm.sapUiBtnDsbl:focus {
		background-color: transparent;
		border-color: transparent;
		color: @ShellBg;
	}
	
	.sapUiBtnS.sapUiBtnNorm.sapUiBtnStd.selected{
		color:@ActiveBG;
		background-color: @SideBarHighlightBG;
	}
	
	.sapUiBtnS.sapUiBtnNorm.sapUiBtnDsbl.selected,
	.sapUiBtnS.sapUiBtnNorm.sapUiBtnDsbl.selected:focus {
		background-color: @SideBarHighlightBG;
		border-color: transparent;
		color: @menuBarClr;
	}
}
.leftsidebar {

	.sapUiBtnS.sapUiBtnNorm {
		min-width: 48px;
		color:@SideNavBarIconClr;
	}

	.sapUiBtnS.sapUiBtnNorm.sapUiBtnStd:hover,
	.sapUiBtnS.sapUiBtnNorm.sapUiBtnAct:hover {
		background-color: @SideNavBarHoverClr;
		border-color: transparent;
		color:@SideNavBarIconClr;
	}
}