/* reset colors */

.sapUiBtn.sapUiToggleBtn.WebSwitch,
.sapUiBtnS.sapUiBtnNorm.sapUiBtnStd.sapUiToggleBtn {
	background-color: transparent;
	border: 0;
}

.sapUiBtnS.sapUiBtnNorm.sapUiBtnStd.sapUiToggleBtn:hover, 
.sapUiBtnS.sapUiBtnNorm.sapUiBtnStd.sapUiToggleBtn.sapUiBtnAct,
.sapUiBtnS.sapUiBtnNorm.sapUiBtnStd.sapUiToggleBtn.sapUiBtnAct:hover,
.sapUiBtnS.sapUiBtnNorm.sapUiToggleBtn.sapUiBtnAct:active {
	background-color: transparent;
	color: black;
}

.sapUiBtnS.sapUiBtnNorm.sapUiBtnStd.sapUiToggleBtn.sapUiToggleBtnPressed {
	background-color: transparent;
	color: black;
}

/* new spacings */

.sapUiBtn.sapUiToggleBtn.WebSwitch {
	padding: 0 0.5rem 0 2.5rem;
	position: relative;
	margin-right: 0.5rem;
}

/* knob container */

.sapUiBtn.sapUiToggleBtn.WebSwitch:before {
	background-color: #CC1919;
	border-radius: 6px;
	cursor: pointer;
	height: 12px;
	position: relative;
	width: 1.5rem;
	content: "";
	position: absolute;
	left: 0.5rem;
	top: 10px;
}

/* knob */

.sapUiBtn.sapUiToggleBtn.WebSwitch:after {
	background-color: white;
	border-radius: 50%;
	content: "";
	height: 0.5rem;
	margin: 12px 0 0 10px;
	position: absolute;
	width: 0.5rem;
	left: 0;
	top: 0;
	-webkit-transition-duration: 0.05s;
	transition-duration: 0.05s;
	-webkit-transition-timing-function: ease-in;
	transition-timing-function: ease-in;
}

.sapUiBtn.sapUiToggleBtn.WebSwitch.sapUiToggleBtnPressed:before {
	background-color: #007833
}

.sapUiBtn.sapUiToggleBtn.WebSwitch.sapUiToggleBtnPressed:after {
	left: 12px;
}

/* small */

.sapUiBtn.sapUiToggleBtn.WebSwitch.flatControlSmall {
	padding: 0 0.5rem 0 2rem;
	margin-right: 0.25rem;
	height: 1.5rem;
	font-size: 0.75rem;
}

.sapUiBtn.sapUiToggleBtn.WebSwitch.flatControlSmall:before {	
	border-radius: 5px;
	height: 10px;
	width: 18px;
	left: 0.5rem;
	top: 8px;
}

.sapUiBtn.sapUiToggleBtn.WebSwitch.flatControlSmall:after {
	height: 6px;
	margin: 10px 0 0 10px;
	width: 6px;
}

.sapUiBtn.sapUiToggleBtn.WebSwitch.flatControlSmall.sapUiToggleBtnPressed:after {
	left: 8px;
}

/* no text */

.sapUiBtn.sapUiToggleBtn.WebSwitch.WebSwitchNoText {
	padding: 0 0.5rem 0 2rem;
}

.sapUiBtn.sapUiToggleBtn.WebSwitch.WebSwitchNoText.flatControlSmall {
	padding: 0 0.5rem 0 1.5em;
}