.sapUiBLy {
    background-color: #000000;
}
.sapUiDlg {
    background: @DlgBG;
    border-radius: 3px;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.5);
    width: calc(29rem);
}

.sapUiDlgCont {
    border: none;
    padding: 1rem 1rem 2rem 0;
    overflow: inherit;
    background-color: transparent;
    padding: 1rem;
}

/* vertical layouts should always take the whole vertical space in a dialog */
.sapUiDlgCont .sapuiVlt {
	width: 100% !important;
}

.resourceListDLG {
	width: 700px;
}

div[id^="MSG_UNHANDLEDERROR"] .sapUiDlgHdrSep {
    border-top: 1px solid @sapFlatErrorBorder;
}

#MSG_ERROR .sapUiDlgHdrSep {
    border-top: 1px solid @sapFlatErrorBorder;
}

#MSG_WARNING .sapUiDlgHdrSep {
    border-top: 1px solid @sapFlatWarningBorder;
}

.sapUiDlgHdrSep {
}

.sapUiDlgHdr {
    font-family: Arial, sans-serif;
    font-size: 1rem;
    height: auto;
    line-height: auto;
    margin:0 !important;
    padding: 1rem;
    color:@DlgHdrClr;
    background-color:@DlgHdrBG;
    border-bottom: 1px solid @DlgHdrLine;

    span {
        font-weight: 100;
    }
    
    .sapUiDlgCloseBtn {
        display: none;
    }
}
html[data-sap-ui-os="mac"] .sapUiDlgHdr {
    letter-spacing: 1px;
}

.sapUiDlgFooter {
    height: 2rem;
    padding: 0.5rem;
    border-top: 1px solid #cdcdcf;
    -webkit-box-shadow:@InsetBrdrLine;
    -moz-box-shadow:@InsetBrdrLine;
    box-shadow:@InsetBrdrLine;

}

.sapUiDlgBtns {
    padding: 0 0 0.5rem 0;
}

.sapUiDlgFooter .sapUiDlgBtns button {
    margin-left: 1rem;
}

.sapUiDlgCloseBtn{
    visibility: hidden;
}

.sapUiDlgNoPad .sapUiDlgCont {
    padding: inherit;
}

.sapUiDlgBtns .sapUiBtnS.sapUiBtnNorm.sapUiBtnEmph{
    padding: 0 1rem;
}

.sapUiDlgFooter .sapUiDlgBtns button {
    margin-left: 0.5rem;
}

.sapUiDlgCont .sapUiFup .sapUiTf {
    vertical-align: top;
}

.sapUiDlgCont .sapUiFup .sapUiFupGroup > div > div:last-child {
    padding-left: 0.5rem;
}


.sapUiDlgFooter .sapUiBtnS.sapUiBtnNorm.sapUiBtnEmph.sapUiBtnStd:focus,
.sapUiDlgFooter .sapUiBtnS.sapUiBtnNorm.sapUiBtnEmph.sapUiBtnStd:hover {
    background-color: darken(@sapFlatButtonStandardBG, 2.5%);
    border-color: @sapFlatExtraDarkBorder;
}


.sapUiDlgFooter .sapUiBtnS.sapUiBtnNorm.sapUiBtnEmph.sapUiBtnAct,
.sapUiDlgFooter .sapUiBtnS.sapUiBtnNorm.sapUiBtnEmph.sapUiBtnAct:focus,
.sapUiDlgFooter .sapUiBtnS.sapUiBtnNorm.sapUiBtnEmph.sapUiBtnAct:hover,
.sapUiDlgFooter .sapUiBtnS.sapUiBtnNorm.sapUiBtnEmph.sapUiBtnStd:active {
    background-color: darken(@sapFlatButtonStandardBG, 5%);
    border-color: @sapFlatExtraDarkBorder;
}

.wattTranslationConfirm .sapUiDlgCont .sapUiTable .sapUiTablePaginator{
    padding-top: 0.5rem;
}

.wattTranslationConfirm .sapUiDlgCont .sapUiTable .sapUiTableRowHdr{
    width: 0.5rem;
}

.wattTranslationConfirm .sapUiTableRSel .sapUiTableTr > td.sapUiTableTdFirst{
    padding-left: 1rem; 
}

.wattTranslationConfirm .sapUiTv,
.wattTranslationConfirm .sapUiTf{
    font-size: 0.875rem;
}

.wattTranslationConfirm .sapUiTableColRowHdrIco:before{
    font-size: 0.875rem;
    font-family: SAP-icons;
    content: "\e0dA";
}

.wattTranslationConfirm .sapUiTableColRowHdr .sapUiTableColRowHdrIco{
    padding-top: 0.5rem;
    background-image: none;
}

.wattTranslationConfirm .sapUiTableRSel .sapUiTableColHdrScr, 
.wattTranslationConfirm .sapUiTableRSel .sapUiTableColHdrFixed{
    margin-left: 1.5rem;
}

.wattTranslationConfirm .sapUiTableColRowHdr.sapUiTableSelAll{
    width: 1.5rem;
}

.wattTranslationConfirm .sapUiDlgCont {
    position: relative;
    top: 0px;
}

.wattTranslationConfirm .sapUiDlgFooter{
    position: static;
}


.sapUiDlg[role="alertdialog"]{
    top: 383px;
    left: 345px;
    height: 350px;
    width: 600px;
}

.sapUiDlg[role="alertdialog"] .sapUiDlgHdrSep{
    margin: 0;
}

.sapUiDlg[role="alertdialog"] .sapUiDlgCont{
    height: 65%;
    padding: 1rem;
    overflow: auto;
}
.sapUiDlg[role="dialog"] .sapUiDlgCont{
    padding: 1rem;
}

.sapUiDlg[role="alertdialog"] .sapUiMboxText  {
    -webkit-user-select: text;
    -moz-user-select: text;
    -ms-user-select: text;
    user-select: text;
}

.sapUiDlg[role="alertdialog"] .sapUiMboxCont{
    margin-top: 0;
    margin-left: 0;
    margin-right: 2rem;
}

.sapUiDlg[role="alertdialog"] .sapUiMboxIcon{
    display: none;
}

.sapUiDlg[role="alertdialog"] .sapUiTv{
    line-height: normal;
    word-wrap: break-word;
}

.sapUiDlg[role="alertdialog"] .sapUiDlgBtns{
    padding: 0 0 0 0;   
}