/* ================================================== */
/* CSS for control sap.ui.commons/RadioButton.control */
/* ================================================== */

.sapUiRbG.sapUiRbG1Row > .sapUiRb {
    display: inline-block;
    height: 2rem;
    line-height: 2rem;
    margin-right: 1.5rem;
    padding: 0;
    vertical-align: middle;
}

.sapUiRb input[type="radio"] + label:before {
    background-color: white;
    border-radius: 50%;
    border: 1px solid #CCCCCC;
    box-shadow: none;
    content: "";
    display: inline-block;
    height: 14px;
    vertical-align: top;
    width: 14px;
}

.sapUiRb {
	display: inline-block;
	height: 2rem;
	line-height: 2rem;
	vertical-align: middle;
	text-align: right;
}

.sapUiRb input[type="radio"] {
	display: none;
}

.sapUiRb label:before {
	background-color: #E5E5E5;
	box-shadow: inset 0 1px 1px rgba(0,0,0, 0.3);
	border-radius: 1rem;
	content: "";
	display: inline-block;  
	height: 1rem;
	margin-bottom: 0;
	margin-top: 0;
	margin: 0.5rem;	
	vertical-align: bottom;
	width: 1rem;
}

/* circle in the radio button */
.sapUiRb input[type="radio"]:checked + label:before {
    color: #666;
    content: "\25cf";
    font-family: Arial;
    font-size: 14px;
    font-weight: bold;
    line-height: 12px;
    text-align: center;
}

.sapUiRb:focus, .sapUiRbG>.sapUiRb:focus, .sapUiRbGCol>.sapUiRb:focus {
    outline: 1px solid rgba(0,0,0, 0.25);
    outline-offset: -1px;
}

.sapUiRb.sapUiRbWarn input[type="radio"] + label:before { border-color: #f0ab00; }
.sapUiRb.sapUiRbWarn input[type="radio"]:checked + label:before { color: #f0ab00; }

.sapUiRb.sapUiRbErr input[type="radio"] + label:before { border-color: #e22525; }
.sapUiRb.sapUiRbErr input[type="radio"]:checked + label:before { color: #e22525; }

.sapUiRb.sapUiRbRo input[type="radio"] + label:before { background: #e5e5e5; }

.sapUiRb.sapUiRbDis label:before { opacity: 0.75; }
.sapUiRb.sapUiRbDis.sapUiCbChk:after { opacity: 0.5; }
.sapUiRb.sapUiRbDis label {color: black; opacity: 0.5; }

/* small versions */

.sapUiRb.flatControlSmall {
    height: 1.5rem;
    line-height: 1.5rem;
}

.sapUiRb.flatControlSmall label {
    font-size: 0.75rem;
}

.sapUiRb.flatControlSmall input[type="radio"] + label:before {
    height: 12px;
    vertical-align: top;
    width: 12px;
    margin: 5px;
}

.sapUiRb.flatControlSmall input[type="radio"]:checked + label:before {
    font-size: 14px;
    line-height: 11px;
}

.sapUiRb>label {
	padding-right: 0.5rem;
}


/* Browser specific setting for IE10 */
html[data-sap-ui-browser*='ie'] .sapUiRb label::before {
	background-color: #E5E5E5;
	box-shadow: inset 0 1px 1px rgba(0,0,0, 0.3);
	border-radius: 1rem;
	content: "";
	display: inline-block;  
	height: 1rem;
	margin-bottom: 0;
	margin-top: 0;
	margin: 0.5rem;
	vertical-align: top;
	width: 14px;
	height: 14px;
}

html[data-sap-ui-browser*='ie'] .sapUiRb input[type="radio"]:checked + label::before {
	color: #666;
    content: "\25cf";
    font-family: Arial;
    font-size: 19px;
    font-weight:bold;
    line-height: 14px;
    text-align: center;
}

html[data-sap-ui-browser="ie10"] .sapUiRbSel{
	position: relative;
}

html[data-sap-ui-browser="ie10"] .sapUiRbSel:after {
	content: "";
	position: absolute;
	width: calc(100% - 2px);
	height: calc(100% - 2px);
	border: 1px solid rgba(0,0,0, 0.25);
	top: 0;
	left: 0;
	box-sizing: border-box;
}

html[data-sap-ui-browser="ie10"] .sapUiRbSel:focus{
	outline: none
}