/* ======================================================= */
/* sap_flat CSS for control sap.ui.commons/SearchField.control */
/* ======================================================= */

.sapUiSearchField {
	height: 2rem;
	box-sizing: border-box;
}

.sapUiSearchFieldTf {
	height: 2rem;	
}

.sapUiTf {
	text-align: left;
    border-color: #CCCCCC rgba(204, 204, 204, 0.5) rgba(204, 204, 204, 0.5) #CCCCCC;
    border-radius: 2px;
    border-style: solid;
    border-width: 1px;
    padding: 0 2.5rem 0 0.5rem;
    vertical-align: middle;
    width: auto;
    height: 2rem;
    position: relative;
    /*Needed for Safari*/
    -webkit-user-select: text;
    -ms-user-select: text;
}

.sapUiTfInner.sapUiTf {
	height: 2rem;
}

.sapUiSearchFieldCb {
	padding: 0 30px 0 0;
}

.sapUiSearchFieldIco {
	height: calc(~"2rem - 2px");
	width: calc(~"2rem - 2px");
	color: @sapFlatStandardText;
	margin: 0;
	z-index: 0;
	right: 0;
	top: -1px;
	cursor: pointer;
	text-align: center;
	line-height: 2rem;
	font-size: 1rem;
	vertical-align: middle;
	background-image: none;
}

.sapUiSearchFieldClear.sapUiSearchFieldVal > .sapUiSearchFieldTf > .sapUiSearchFieldIco, 
.sapUiSearchFieldClear.sapUiSearchFieldVal > .sapUiSearchFieldCb > .sapUiSearchFieldIco {
	font-size: 1rem;
	color: @sapFlatStandardText;
}

.sapUiSearchFieldClear.sapUiSearchFieldVal > .sapUiSearchFieldTf > .sapUiSearchFieldIco:hover {
	color: @sapFlatInvertedText;
}

.sapUiSearchFieldTf .sapUiSearchFieldIco:hover {
	color: @sapFlatInvertedText;
	background-color: @sapFlatNeutralElement;
}

.sapUiSearchFieldIco:before {
	font-family: 'SAP-icons';
	top: -1px;
	speak: none;
	content: "\e00d";
}

.sapUiSearchFieldClear.sapUiSearchFieldVal > .sapUiSearchFieldTf > .sapUiSearchFieldIco:before,
.sapUiSearchFieldClear.sapUiSearchFieldVal > .sapUiSearchFieldCb > .sapUiSearchFieldIco:before {
  font-family: 'SAP-icons-watt';
  top: -1px;
  speak: none;
  content: "\e010";
}
