.sidepanel {
    background: @ShellBg;
    color: @BaseFontClr;

    .sapUiPanelAreaDesignFill > .sapUiPanelCont {
        background-color: transparent !important;
    }

    button.tabButton.sapUiBtnS.sapUiBtnNorm.sapUiBtnStd.sapUiToggleBtn.sapUiToggleBtnPressed {
        color:@BaseFontClr;
        border-bottom: 1px solid @BaseFontClr;
    }

    label{
        color:@BaseFontClr;
    }
}