.sapUiHorizontalSplitterBar, .sapUiVerticalSplitterBar {
	background-color: @PanelBg;
}
.sapUiHorizontalSplitterBar:focus, .sapUiVerticalSplitterBar:focus {
	outline: 1px solid rgba(0,0,0, 0.25);
	outline-offset: -1px;

}
.sapUiHorizontalSplitterBar {
	height:3px;
	box-shadow: inset 0px 1px 0px 0px @HeaderBrdr;
	-webkit-box-shadow: inset 0px 1px 0px 0px @HeaderBrdr;
	-moz-box-shadow: inset 0px 1px 0px 0px @HeaderBrdr;
}
.sapUiVerticalSplitterBar {
	width:3px;
	-webkit-box-shadow: inset 1px 0px 0px 0px @HeaderBrdr;
	-moz-box-shadow: inset 1px 0px 0px 0px @HeaderBrdr;
	box-shadow: inset 1px 0px 0px 0px @HeaderBrdr;
}
