.errorTabIcon{
    content: "";
    background: #e22525;
    width: 6px;
    height: 6px;
    position: initial;
    top: 11px;
    left: 8px;
    margin-top: 10px;
    margin-left: 10px;
    display: inline-block;
    float:left
}


.warningTabIcon{
    content: "";
    background: #d19860;
    width: 6px;
    height: 6px;
    position: initial;
    top: 11px;
    left: 8px;
    margin-top: 10px;
    margin-left: 10px;
    display: inline-block;
    float:left
}