.sapUiTabStrip {
	border: none;
}

.sapUiTabBar {
	height: 32px;
}
.sapUiTabBarCnt {
	height: inherit;
	background-color: transparent;
}

.sapUiTabBarCnt {
	height: 30px;
	background-color: transparent;
	margin: 0;
	overflow: hidden;
	padding-top: 4px;
	font-size: 0.86rem;
	text-align: center;
	line-height: 1.6rem;
	border-bottom: 1px solid #DADCE0;
	li {
		height: 30px;
		max-width: 170px;
		position: relative;
		display: inline-block;
		padding: 4px 1em 0px 1em;
		text-decoration: none;
		z-index: 1;
		box-sizing: border-box;
	}
	li:before {
		content: '';
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		z-index: -1;
		text-align: center;
	}
	li[aria-selected="false"]:before {
		background: transparent;
	}
}

.sapUiTabSel {
	font-weight: bold;
	border-bottom: 3px solid #416B8E;
}

.sapUiTabBarCnt:empty {
	height: 0px;
}

.sapUiTabClose {
	font-family: Sap-icons;
}

.sapUiTabClose:before {
	content: "\e03e";
	speak: none;
	font-weight: normal;
	-webkit-font-smoothing: antialiased;
}