/* ================================================ */
/* CSS for control sap.ui.commons/TextField.control */
/* ================================================ */

@sapUiTextFieldHeight: 16px;

.sapUiTf{
	height: 2rem;
	font-family: Arial;
	font-size: 0.875rem;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	padding: 0 0.5rem;
	vertical-align: top;
	width: auto;
	-moz-user-select: text;
	-ms-user-select: text;
	user-select: text;
}

/* Inner (ComboBox) */
.sapUiTfInner.sapUiTf{
	height: 2rem;
}

.sapUiTfCombo {
	height: 2rem;
}

.sapUiTfComboIcon {
    background: @sapFlatLightestBG;
    color: @sapFlatElement;
    font-size: 1rem;
    height: 30px;
    line-height: 2rem;
    position: absolute;
    right: 0;
    text-align: center;
    top: 0;
    vertical-align: middle;
    width: 30px;
    z-index: 1;
    content: "\E043";
}

.sapUiTfComboIcon:hover {
	color: @sapFlatStandardText;
	background-color: transparent;
}

.sapUiTfFoc>.sapUiTfComboIcon{
	background-color: transparent;	
}

.sapUiTfBrd{
	border: 0;
	border-radius: 2px;
	border-style: solid;
	border-width: 1px;
	border-color: rgb(204, 204, 204)
		 rgba(204, 204, 204, 0.5)
		 rgba(204, 204, 204, 0.5)
		 rgb(204, 204, 204);
}

.sapUiTfMono{
	font-family: @sapUiFontMonospaceFamily;
}

.sapUiTfStd{
	background-color: @sapUiFieldBackground;
	color: @sapUiBaseText;
}

.sapUiTfRo {
	border-color: rgb(204, 204, 204)
		rgba(204, 204, 204, 0.5)
		rgba(204, 204, 204, 0.5)
		rgb(204, 204, 204);
	background-color: white;
	color: #333;
	border-style: dashed;
}

.sapUiTfRo > .sapUiTfInner{ 
	cursor: default; /* in ComboBox Cursor is overwitten */
}

.sapUiTfFoc{
	border-color: rgb(191, 191, 191)
	 rgba(191, 191, 191, 0.75)
	 rgba(191, 191, 191, 0.75)
	 rgb(191, 191, 191);
	background: #e5f2f9;
}

.sapUiTf.sapUiTfFoc, .sapUiTfBrd.sapUiTfFoc {
	border: 1px solid rgba(0,0,0, 0.5);
}

.sapUiTfBrd.sapUiTfErr{
	color: black;
	border-color: rgba(229, 41, 41, 0.5)
	 rgba(229, 41, 41, 0.125)
	 rgba(229, 41, 41, 0.125)
	 rgba(229, 41, 41, 0.5);
}

.sapUiTfBrd.sapUiTfWarn {
	color: black;
	border-color: rgba(240, 171, 0, 0.5)
	 rgba(240, 171, 0, 0.125)
	 rgba(240, 171, 0, 0.125)
	 rgba(240, 171, 0, 0.5);
}

.sapUiTfErr.sapUiTfStd{
	background-color: #fbdfdf;
}

.sapUiTfWarn.sapUiTfStd{
	background-color: #fffcb5;
}

.sapUiTfSucc.sapUiTfStd{
	background-color: #e0f1e7;
	color: black;
	border-color: rgba(0, 138, 59, 0.5)
	 rgba(0, 138, 59, 0.25) 
	 rgba(0, 138, 59, 0.25) 
	 rgba(0, 138, 59, 0.5);
}

.sapUiTfDsbl {
	border-color: rgb(204, 204, 204)
		rgba(204, 204, 204, 0.5)
		rgba(204, 204, 204, 0.5)
		rgb(204, 204, 204);
	background-color: #f2f2f2;
	color: black;
}

.filesearch .gitBackgroundColor .sapUiTf{
	margin: 0;
}


/* if there is an input field in a dialog, it should look the same everywhere and take the full width, (from sapui5 it gets only 22ex per default) */
.sapUiDlgCont .sapUiTf {
	width: 100% !important;
	margin-left: 0px;	
}

#ResourceList .resourceListIF {
	width: 100%;
} 

.sapUiTf.flatControlSmall,
.sapUiTfCombo.flatControlSmall,
.sapUiTfCombo.flatControlSmall .sapUiTfInner {
	height: 1.5rem;
	font-size: 0.75rem;
}
