.sapUiTb.sapUiTbStandalone {
	height:@ToolbarHeightPx;
	.sapUiTbInner {
		height: 100%;
		button {
			border: none;
			border-radius: 0px;
			background-color: transparent;
			color: @ToolbarClr;
			cursor: pointer;
			height: 2.2rem;
			padding: 0;
			vertical-align: middle;
			min-width: 2rem;
			width: 2.8rem;
			font-size: 1.2rem;
		}
		button .sapUiBtnTxt {
			color: @ToolbarClr;
		}
		button[id*="content.save"] {
			color: @LighBlueColor;
		}
		button[id*="preview.run"] {
			color: @LightGreenColor;
		}
		button[id*="content.navigateToLastEdit"] {
			color: @LightPurpleColor;
		}
		button:focus {
			border: none;
			background-color: transparent;
			outline: none;
		}
		button:hover {
			background-color: fade(@sapFlatActiveBG, 25%);
			color: @ToolbarClr;
		}
		button:active {
			background-color: transparent;
		}
		button.sapUiBtnDsbl:active {
			background-color: transparent;
			color: fade(@sapFlatActiveBG, 50%);
		}
		button.sapUiBtnDsbl {
			color: fade(@ToolbarClr, 40%);
		}
		button.sapUiBtnDsbl:hover {
			background-color: transparent;
			cursor: default;
		}
		
		button:hover[id*="content.save"] {
			color: @LighBlueColor;
		}
		button:hover[id*="preview.run"] {
			color: @LightGreenColor;
		}
		button:hover[id*="content.navigateToLastEdit"] {
			color: @LightPurpleColor;
		}
		button.sapUiBtnDsbl[id*="content.save"] {
			color: fade(@LighBlueColor,50%);
		}
		button.sapUiBtnDsbl[id*="preview.run"] {
			color: fade(@LightGreenColor,50%);
		}
		button.sapUiBtnDsbl[id*="content.navigateToLastEdit"] {
			color: fade(@LightPurpleColor,50%);
		}


	}
	.sapUiTbCont {
		border: none;
		height: 100%;
		padding: 0;
	}
	.sapUiTbInner > *, .sapUiTbInnerRight > * {
		margin: 0;
	}
	.sapUiTbSeparator.sapUiTbSepFullHeight {
		border-left: 1px solid @sapFlatLightBorder;
		height: 2rem;
		vertical-align: middle;
		margin: 0;
		width: 1px;
	}
	.sapUiTbInner > .sapUiBtnDsbl:focus, .sapUiTbInnerRight > .sapUiBtnDsbl:focus {
		outline: none;
		outline-offset: -1px;
	}
}


.sapUiTb.sapUiTbStandalone .sapUiTbInner button.watt_toolbar_text.sapUiBtnS > .sapUiBtnTxt {
  vertical-align: middle;
  line-height: 32px;
  display: inline-block;
  height: 2.2rem;
  margin-top: 0;
  padding-left: 0.25rem;
}

.sapUiTb.sapUiTbStandalone .sapUiTbSeparator.sapUiTbSepFullHeight {
  border : none;
  vertical-align: middle;
  margin: 0;
  height: 2.2rem;
  width: 1rem;
}

.sapUiTb.sapUiTbStandalone .sapUiTbInner button.watt_toolbar_text{
	font-size: 0.75rem;
	width: auto;
	padding: 0 0.8rem;
}

.sapUiTb.sapUiTbStandalone .sapUiTbInner button.watt_toolbar_text .sapUiBtnIco{
	font-size: 1.2rem;
}

.sapUiTb.sapUiTbStandalone .sapUiTbInner button.watt_toolbar_splitbutton{
	background-color: fade(@sapFlatActiveBG, 25%);
	color: @sapFlatActiveBG;
}

.sapUiTb.sapUiTbStandalone .sapUiTbInner button.watt_toolbar_splitbutton:active {
	background-color: @sapFlatHighlight;
	color: @sapFlatInvertedText;
}
