/* ======================================================= */
/* CSS for control sap.ui.commons.TriStateCheckBox.control */
/* ======================================================= */

.sapUiTriCbInner {
	height:11px;
	width:11px;
	border: 1px solid @sapFlatMediumBorder;
	background-color: @sapFlatLightestBG;
}

.sapUiTriCbInner.sapUiTriCbCheck,
.sapUiTriCbInner.sapUiTriCbMix {
	background-image: url(img/TriStateCheckBox.png);
}

.sapUiTriCb:hover > .sapUiTriCbInner {
	border: 1px solid @sapFlatDarkBG;
}