{
	"Type":"sap.ui.core.mvc.JSONView",
	"controllerName":"{{viewNamespace}}",
	"content": [{
		"Type": "sap.m.App",
		"pages": [{
			"Type": "sap.m.Page",
			"title": "Title",
			"content": [
			]
		}]
	}]
}