{
	"dataBinding": {
		"/view/Master.view.xml": {
			"entitySet": "{{claimProcessing.parameters.AppCollection.value.name}}"
		},
		"/view/Detail.view.xml": {
			"entitySet": "{{claimProcessing.parameters.AppCollection.value.name}}"
		},
		"/view/NotFound.view.xml": {
			"entitySet": "UNBINDKEY"
		},
		"/view/App.view.xml": {
			"entitySet": "UNBINDKEY"
		},
		"/view/FileRemover.fragment.xml": {
			"entitySet": "UNBINDKEY"
		},
		"/view/FileUploader.fragment.xml": {
			"entitySet": "UNBINDKEY"
		},
		"/view/PhotosActionSheet.fragment.xml": {
			"entitySet": "UNBINDKEY"
		}
	}
}