{
	"_version": "1.2.0",

	"sap.app": {
		"_version": "1.2.0",
{{#if 2masterdetail.environment.internal}}
		"id": "${project.artifactId}",
{{else}}
		"id": "{{2masterdetail.parameters.ApplicationNamespace.value}}",
{{/if}}
		"type": "application",
{{#if 2masterdetail.environment.internal}}
		"resources" : "resources.json",
{{/if}}
		"i18n": "i18n/i18n.properties",
		"title": "{{doubleCurlyBrackets "appTitle"}}",
		"description": "{{doubleCurlyBrackets "appDescription"}}",

		"applicationVersion": {
{{#if 2masterdetail.environment.internal}}
			"version": "${project.version}"
{{else}}
			"version": "1.0.0"
{{/if}}
		},
{{#if 2masterdetail.environment.internal}}
		"ach": "{{2masterdetail.parameters.ApplicationComponentHierarchy.value}}",
{{/if}}
		"dataSources": {
			"mainService": {
				"uri": "{{formatUrl datasource.url}}",
				"type": "OData",
				"settings": {
					"odataVersion": "2.0",
					"localUri" : "localService/metadata.xml"
				}
			}
		}
	},

{{#if 2masterdetail.parameters.ABAPDeployPath.value}}
	"sap.platform.abap": {
		"_version": "1.2.0",
		"uri": "{{2masterdetail.parameters.ABAPDeployPath.value}}"
	},

{{/if}}
{{#if 2masterdetail.environment.internal}}
	"sap.fiori": {
		"_version": "1.1.0",
		"registrationIds": [
{{#if 2masterdetail.parameters.FioriID.value}}
			"{{2masterdetail.parameters.FioriID.value}}"
{{/if}}
		],
		"archeType": "transactional"
	},

{{/if}}
	"sap.ui": {
		"_version": "1.2.0",
		"technology": "UI5",
		"icons": {
			"icon": "sap-icon://detail-view",
			"favIcon": "",
			"phone": "",
			"phone@2": "",
			"tablet": "",
			"tablet@2": ""
		},
		"deviceTypes": {
			"desktop": true,
			"tablet": true,
			"phone": true
		},
		"supportedThemes": [
			"sap_hcb",
			"sap_bluecrystal"
		]
	},

	"sap.ui5": {
		"_version": "1.1.0",
		"rootView": {
			"viewName": "{{2masterdetail.parameters.ApplicationNamespace.value}}.view.App",
			"type": "XML",
			"id": "app"
		},

		"dependencies": {
{{#if 2masterdetail.environment.internal}}
			"minUI5Version": "${sap.ui5.dist.version}",
{{else}}
			"minUI5Version": "1.30.0",
{{/if}}
			"libs": {
				"sap.ui.core": {},
				"sap.m": {},
				"sap.ui.layout": {}
			}
		},

		"contentDensities": {
			"compact": true,
			"cozy": true
		},

		"models": {
			"i18n": {
				"type": "sap.ui.model.resource.ResourceModel",
				"settings": {
					"bundleName": "{{2masterdetail.parameters.ApplicationNamespace.value}}.i18n.i18n"
				}
			},
			"" : {
				"dataSource": "mainService",
				"settings": {
					"metadataUrlParams": {
						"sap-documentation": "heading"
					},
					"defaultBindingMode": "TwoWay"
				}
			}
		},

		"routing": {
			"config": {
				"routerClass": "sap.m.routing.Router",
				"viewType": "XML",
				"viewPath": "{{2masterdetail.parameters.ApplicationNamespace.value}}.view",
				"controlId": "idAppControl",
				"controlAggregation": "detailPages",
				"bypassed": {
					"target": ["master", "notFound"]
				},
				"async": "true"
			},

			"routes": [
				{
					"pattern": "",
					"name": "master",
					"target": ["object", "master"]
				},
				{
					"pattern": "{{{handleRoutingPattern 2masterdetail.parameters.ObjectCollection.value.name}}}",
					"name": "object",
					"target": ["master", "object"]
				}
			],

			"targets": {
				"master": {
					"viewName": "Master",
					"viewLevel": 1,
					"viewId": "master",
					"controlAggregation": "masterPages"
				},
				"object": {
					"viewName": "Detail",
					"viewId": "detail",
					"viewLevel": 2
				},
				"create": {
					"viewName": "CreateEntity",
					"viewLevel": 2
				},
				"detailObjectNotFound": {
					"viewName": "DetailObjectNotFound",
					"viewId": "detailObjectNotFound"
				},
				"detailNoObjectsAvailable": {
					"viewName": "DetailNoObjectsAvailable",
					"viewId": "detailNoObjectsAvailable"
				},
				"notFound": {
					"viewName": "NotFound",
					"viewId": "notFound"
				}
			}
		}
	}
}