.sapUiMnu {
	background-color: @sapFlatLightestBG;
	box-shadow: 0 2px 6px -3px fade(@sapFlatDarkestBG, 75%);
	border: none;
	color: @sapFlatStandardText;
	padding: 0 1rem;
	border: none;
	padding: 0;
}

.sapUiMnuLst {
	padding: 0;
	margin: 0;
	color: @sapFlatStandardText;
	font-size: 12px;
	font-family: Arial,Helvetica,sans-serif;
}

.sapUiMnuDiv {
	height: 1px;
}

.sapUiMnuDiv > hr {
	left: 0;
	right: 0;
	margin: 0;
	border-top: 1px solid @sapFlatMediumBorder;
}

.sapUiMnuItm {
	padding: 0 2rem 0 1rem;
	height: 25px;
	line-height: 25px;
	color: @sapFlatStandardText;
}

.sapUiMnuItm.sapUiMnuItmHov{
	background-color: @sapFlatHighlight;
	color: @sapFlatInvertedText;
}

.sapUiMnuItm:active {
	background-color: darken(@sapFlatHighlight, 5%);
	color: @sapFlatInvertedText;
}

.sapUiMnuItm.sapUiMnuItmDsbl,
.sapUiMnuItm.sapUiMnuTfItm.sapUiMnuItmDsbl > .sapUiMnuItmTxt > label,
.sapUiMnuItm.sapUiMnuTfItm.sapUiMnuItmDsbl.sapUiMnuItmHov > .sapUiMnuItmTxt > label {
	color: fade(@sapFlatStandardText, 50%);
}

.sapUiMnuItm.sapUiMnuItmDsbl.sapUiMnuItmHov {
	color: fade(@sapFlatStandardText, 50%);
	background-color: lighten(@sapFlatLightBG, 1%);
}

.sapUiMnuItm .sapUiMnuItmSbMnu > div {
	background-image: none;
}

.sapUiMnuItm .sapUiMnuItmSbMnu > div:after {
	content: "";
}

.sapUiMnuItm .sapUiMnuItmSbMnu > div:before {
	content: "\e00c";
	color: black;
	font-family: "SAP-icons-watt";
	font-size: .5rem;
	line-height: 1.5rem;
}

.sapUiMnuItm:active .sapUiMnuItmSbMnu > div:before {
	color: black;
}

.sapUiMnuItm.sapUiMnuItmHov .sapUiMnuItmSbMnu > div:before {
	color: white;
}

/*Navigationbar menu*/

.sapWattNavigationMenu.sapUiMnu {
	background: @sapFlatMediumBG;
	box-shadow: none;
	padding: 0;
}

.sapWattNavigationMenu .sapUiMnuItm {
	padding: 0 2rem 0 0;
}


.sapWattNavigationMenu .sapUiIcon{
	display: none;
}

.sapWattNavigationMenu .sapUiMnuItm[id$="selected"] {
	background: @sapFlatMediumBG;
	color: black;
	font-weight: bold;
}

.sapWattNavigationMenu .sapUiMnuItm.sapUiMnuItmHov {
	background: @sapFlatHighlight;
	color: @sapFlatInvertedText;
}

.sapWattNavigationMenu .sapUiMnuItm[id$="selected"].sapUiMnuItm.sapUiMnuItmHov {
	background: @sapFlatHighlight;
	color: @sapFlatInvertedText;
}

/*Context menu*/
.sapWattContextMenu.sapUiMnu {
	box-shadow: 0 0 8px -2px fade(@sapFlatDarkestBG, 75%);
}