.VAnimationPulse {
	-webkit-animation: VAnimationPulse 1s linear infinite; 
	-moz-animation: VAnimationPulse 1s linear infinite; 
	-o-animation: VAnimationPulse 1s linear infinite; 
	animation: VAnimationPulse 1s linear infinite;  
}

@keyframes VAnimationPulse {  
    0% {  
    	opacity: 1;
    }  

    50% {  
    	opacity: 0;
    } 

    100% {  
    	opacity: 1;
    } 
}

@-webkit-keyframes VAnimationPulse {  
    0% {  
    	opacity: 1;
    }  

    50% {  
    	opacity: 0;
    } 

    100% {  
    	opacity: 1;
    } 
}