.VHeaderBar {
	border-top: 3px solid #007cc0;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	font-family: Arial, sans-serif;
	font-size: 0.875rem;
	height: calc(2rem + 3px);
	overflow: hidden;
	position: relative;
}

.VHeaderBarCnt {
	background-color: white;
	height: inherit; 
	position: absolute;
	width: calc(100% - 16px);
}

.VHeaderBar ul {
	margin: 0;
	padding: 0;
} 

.VHeaderBar li {
	font-size: 0.75rem;
	list-style-type: none;
	line-height: 2rem;
	margin-left: 1.5rem;
}

#LogoSAP {
	margin: 4px 12px -4px 0;
}

#ToggleMenuButton {
	width: 20px;
	height: 20px;
	background: silver;
	margin-bottom: 7px;
	vertical-align: bottom;
	background-image: url(../images/Menu.png);
	background-repeat: no-repeat;
}


#ToggleMenuButton.selected {
	background-color: #005b8d ;
}