/* show - blocks */

.sapUiMedia-Std-Desktop .VShowLarge  { display: block; }
.sapUiMedia-Std-Tablet  .VShowLarge  { display: none;  }
.sapUiMedia-Std-Phone   .VShowLarge  { display: none;  }

.sapUiMedia-Std-Desktop .VShowMedium { display: none;  }
.sapUiMedia-Std-Tablet  .VShowMedium { display: block; }
.sapUiMedia-Std-Phone   .VShowMedium { display: none;  }

.sapUiMedia-Std-Desktop .VShowSmall  { display: none;  }
.sapUiMedia-Std-Tablet  .VShowSmall  { display: none;  }
.sapUiMedia-Std-Phone   .VShowSmall  { display: block; }

/* hide - blocks */

.sapUiMedia-Std-Desktop .VHideLarge  { display: none;  }
.sapUiMedia-Std-Tablet  .VHideLarge  { display: block; }
.sapUiMedia-Std-Phone   .VHideLarge  { display: block; }

.sapUiMedia-Std-Desktop .VHideMedium { display: block; }
.sapUiMedia-Std-Tablet  .VHideMedium { display: none;  }
.sapUiMedia-Std-Phone   .VHideMedium { display: block; }

.sapUiMedia-Std-Desktop .VHideSmall  { display: block; }
.sapUiMedia-Std-Tablet  .VHideSmall  { display: block; }
.sapUiMedia-Std-Phone   .VHideSmall  { display: none;  }

/* show - inline */

.sapUiMedia-Std-Desktop .VShowLargeInline  { display: inline; }
.sapUiMedia-Std-Tablet  .VShowLargeInline  { display: none;   }
.sapUiMedia-Std-Phone   .VShowLargeInline  { display: none;   }

.sapUiMedia-Std-Desktop .VShowMediumInline { display: none;   }
.sapUiMedia-Std-Tablet  .VShowMediumInline { display: inline; }
.sapUiMedia-Std-Phone   .VShowMediumInline { display: none;   }

.sapUiMedia-Std-Desktop .VShowSmallInline  { display: none;   }
.sapUiMedia-Std-Tablet  .VShowSmallInline  { display: none;   }
.sapUiMedia-Std-Phone   .VShowSmallInline  { display: inline; }

/* hide - inline */

.sapUiMedia-Std-Desktop .VHideLargeInline  { display: none;   }
.sapUiMedia-Std-Tablet  .VHideLargeInline  { display: inline; }
.sapUiMedia-Std-Phone   .VHideLargeInline  { display: inline; }

.sapUiMedia-Std-Desktop .VHideMediumInline { display: inline; }
.sapUiMedia-Std-Tablet  .VHideMediumInline { display: none;   }
.sapUiMedia-Std-Phone   .VHideMediumInline { display: inline; }

.sapUiMedia-Std-Desktop .VHideSmallInline  { display: inline; }
.sapUiMedia-Std-Tablet  .VHideSmallInline  { display: inline; }
.sapUiMedia-Std-Phone   .VHideSmallInline  { display: none;   }