
/* ================================= */
/* Global CSS for Flat theme Cumulus */
/* ================================= */

@sapFlatBrand: #007cc0;
@sapFlatBrandSupport: #f7f5f0;

/* FONT-ICONS */
@font-face {
	font-family: 'SAP-icons-watt';
	font-style: 'normal';
	font-weight: 'normal';
	src: url('../../../fonts/SAP-icons-watt.ttf');
}

@font-face {
	font-family: 'sap-launch-icons';
	font-style: 'normal';
	font-weight: 'normal';
	src: url('../../../fonts/sap-launch-icons.ttf');
}

@font-face {
	font-family: 'BusinessSuiteInAppSymbols';
	font-style: 'normal';
	font-weight: 'normal';
	src: url('../../../fonts/BusinessSuiteInAppSymbols.ttf');
}


/* BACKGROUND COLORS */

/* Grayscale Backgrounds */

@sapFlatLightestBG: #ffffff;
@sapFlatExtraLightBG: #f7f7f7;
@sapFlatLightBG: #eeeeee;
@sapFlatMediumBG: #dddddd;
@sapFlatDarkBG: #bfbfbf;
@sapFlatDarkestBG: #000000;

/* Semantic Backgrounds */

@sapFlatErrorBG: #fbdfdf;
@sapFlatWarningBG: #fffcb5;
@sapFlatSuccessBG: #e0f1e7;
@sapFlatNeutralBG: #e5f2f9;

/* Semantic Section Backgrounds */

@sapFlatNegativeElementBG: #e52222;
@sapFlatCriticalElementBG: #d14900;
@sapFlatPositiveElementBG: #008A11;
@sapFlatNeutralElementBG: #007cc0;

/* State Backgrounds */

@sapFlatHighlight: #107dc2;
@sapFlatActiveBG: #69767f;

@sapFlatHeaderBG: #f2f2f2;
@sapFlatConsoleBG: #363e43;

@sapFlatButtonStandardBG: #e5e5e5;
@sapFlatButtonEmphasizedBG: #007cc0;


/* ACCENT COLORS */
@sapFlatAccent8: #009de0;

/* BORDER COLORS */

@sapFlatLightestBorder: #ffffff;
@sapFlatExtraLightBorder: #e5e5e5;
@sapFlatLightBorder: #dddddd;
@sapFlatMediumBorder: #cccccc;
@sapFlatDarkBorder: #bfbfbf;
@sapFlatExtraDarkBorder: #999999;
@sapFlatDarkestBorder: #000000;

/* Semantic Border Colors */

@sapFlatErrorBorder: rgb(229, 41, 41); /* #e52929 */

@sapFlatErrorBorderTop: rgba(229, 41, 41, 0.5);
@sapFlatErrorBorderRight: rgba(229, 41, 41, 0.125);
@sapFlatErrorBorderBottom: rgba(229, 41, 41, 0.125);
@sapFlatErrorBorderLeft: rgba(229, 41, 41, 0.5);

@sapFlatErrorBorderTopHover: rgba(229, 41, 41, 0.75);
@sapFlatErrorBorderRightHover: rgba(229, 41, 41, 0.5);
@sapFlatErrorBorderBottomHover: rgba(229, 41, 41, 0.5);
@sapFlatErrorBorderLeftHover: rgba(229, 41, 41, 0.75);

@sapFlatErrorBorderTopActive: @sapFlatErrorBorderTopHover;
@sapFlatErrorBorderRightActive: @sapFlatErrorBorderRightHover;
@sapFlatErrorBorderBottomActive: @sapFlatErrorBorderBottomHover;
@sapFlatErrorBorderLeftActive: @sapFlatErrorBorderLeftHover;

@sapFlatWarningBorder: rgb(240, 171, 0); /* #f0ab00 */

@sapFlatWarningBorderTop: rgba(240, 171, 0, 0, 0.5);
@sapFlatWarningBorderRight: rgba(240, 171, 0, 0, 0.125);
@sapFlatWarningBorderBottom: rgba(240, 171, 0, 0, 0.125);
@sapFlatWarningBorderLeft: rgba(240, 171, 0, 0, 0.5);

@sapFlatWarningBorderTop: rgba(240, 171, 0, 0, 0.75);
@sapFlatWarningBorderRight: rgba(240, 171, 0, 0, 0.5);
@sapFlatWarningBorderBottom: rgba(240, 171, 0, 0, 0.5);
@sapFlatWarningBorderLeft: rgba(240, 171, 0, 0, 0.75);

/*NOT Defined!!!
@sapFlatWarningBorderTopActive: @sapFlatWarningBorderTopHover;
@sapFlatWarningBorderRightActive: @sapFlatWarningBorderRightHover;
@sapFlatWarningBorderBottomActive: @sapFlatWarningBorderBottomHover;
@sapFlatWarningBorderLeftActive: @sapFlatWarningBorderLeftHover;
*/

@sapFlatSuccessBorder: rgb(0, 138, 59); /* #008a3b */

@sapFlatSuccessBorderTop: rgba(0, 138, 59, 0.5);
@sapFlatSuccessBorderRight: rgba(0, 138, 59, 0.25);
@sapFlatSuccessBorderBottom: rgba(0, 138, 59, 0.25);
@sapFlatSuccessBorderLeft: rgba(0, 138, 59, 0.5);

@sapFlatSuccessBorderTop: rgba(0, 138, 59, 0.75);
@sapFlatSuccessBorderRight: rgba(0, 138, 59, 0.5);
@sapFlatSuccessBorderBottom: rgba(0, 138, 59, 0.5);
@sapFlatSuccessBorderLeft: rgba(0, 138, 59, 0.75);
/* NOT Defined!!!
@sapFlatSuccessBorderTopActive: @sapFlatSuccessBorderTopHover;
@sapFlatSuccessBorderRightActive: @sapFlatSuccessBorderRightHover;
@sapFlatSuccessBorderBottomActive: @sapFlatSuccessBorderBottomover;
@sapFlatSuccessBorderLeftActive: @sapFlatSuccessBorderLeftHover;
*/


/* FOREGROUND ELEMENTS */

/* General Foreground Elements */

@sapFlatElement: #69767f;
@sapFlatInvertedElement: #ffffff;

/* Semantic Foreground Elements */

@sapFlatNegativeElement: #e52222;
@sapFlatCriticalElement: #d14900;
@sapFlatPositiveElement: #007833;
@sapFlatNeutralElement: #007cc0;
@sapFlatPositive: #008A11;

/* FONT COLORS */

/* Grayscale Text */

@sapFlatStandardText: #000000;
@sapFlatLightText: #999999;
@sapFlatMediumText: #666666;
@sapFlatDarkText: #333333;
@sapFlatInvertedText: #ffffff;

/* Semantic Text - TODO */

@sapFlatNegativeText: #cc1919;
@sapFlatCriticalText: #d14900;
@sapFlatPositiveText: #007833;

/* Hyperlinks - TODO */

@sapFlatLink: #00679e;
@sapFlatInvertedLink: #1bb1ff;
@sapFlatContrastLink: #ffffff;

@sapFlatFocus: fade(@sapFlatDarkestBorder, 25%);

/* ========================================================================== */

body.sapUiBody{
	font-family: Arial, sans-serif;
	font-size: 0.875rem;
	color: @sapFlatDarkText;
}

h1, h2, h3, h4, h5, h6, p, small {
	font-weight: normal;
	margin: 0;
	padding: 0;
}

// Public Theme Parameters

/* ===================================== */
/* Quick Theming                         */
/* ===================================== */

// [Label "Brand Color"]
// [Description "The color which builds your brand"]
// [Tags "Quick", "Color"]
@sapBrandColor: @sapFlatBrand;

// [Label "Highlight Color"]
// [Description "The color which is used to highlight screen elements"]
// [Tags "Quick", "Content", "Color"]
@sapHighlightColor: @sapFlatHighlight;

// [Label "Base Color"]
// [Description "The color which is used to derive the most dominant background colors"]
// [Tags "Quick", "Color"]
@sapBaseColor: #808080;

// [Label "Shell Header Color"]
// [Description "The color of the shell header bar"]
// [Tags "Quick", "Color"]
@sapShellColor: rgba(0,0,0,0);

// [Label "Background Color"]
// [Description "The main background color of the screen"]
// [Tags "Quick", "Color"]
@sapBackgroundColor: #f2f2f2;

// [Label "Font Family"]
// [Description "The preferred font family"]
// [Tags "Quick", "Content", "Font", "Protected"]
@sapFontFamily: "Arial, sans-serif";

// [Label "Font Size"]
// [Description "The preferred font size"]
// [Tags "Quick", "Content", "Dimension", "Font", "Protected"]
@sapFontSize: 0.75rem; /* ??? */

// [Label "Font Size"]
// [Description "The preferred font size"]
// [Tags "Quick", "Content", "Dimension", "Font", "Protected"]
@sapGroupFontSize: 0.86rem; /* ??? */

// [Label "Text Color"]
// [Description "The preferred text color"]
// [Tags "Quick", "Content", "Color", "Font"]
@sapTextColor: @sapFlatStandardText;

// [Label "Link Color"]
// [Description "The color of the link text"]
// [Tags "Quick", "Content", "Color", "Font"]
@sapLinkColor: @sapFlatLink;

// [Label "Company Logo"]
// [Description "The URI to the logo of your company"]
// [Tags "Quick", "URI", "Image","Protected"]
@sapCompanyLogo: url(); /* ??? */

// [Label "Background Image"]
// [Description "The URI to the image which is shown as background"]
// [Tags "Quick", "URI", "Image","Protected"]
@sapBackgroundImage: url(); /* ??? */

// [Label "Background Opacity"]
// [Description "A value between 0.0 and 1.0 to control the opacity of the background image"]
// [Tags "Quick", "Opacity", "Protected"]
@sapBackgroundImageOpacity: 1.0; /* ??? */

// [Label "Background Repeat"]
// [Description "The switch to turn on/off the repetition of the backround image. Chose 'true' or 'false' as value."]
// [Tags "Quick", "Protected"]
@sapBackgroundImageRepeat: false; /* ??? */


/* ===================================== */
/* Expert Theming                        */
/* ===================================== */

// [Label "Selected Color"]
// [Description "The color of selected elements"]
// [Tags "Base", "Content", "Color", "Protected"]
@sapSelectedColor: @sapHighlightColor; 

// [Label "Active Color"]
// [Description "The color of activated elements"]
// [Tags "Base", "Content", "Color", "Protected"]
@sapActiveColor: @sapHighlightColor; 

// [Label "Highlight Text Color"]
// [Description "The text color of highlighted screen elements"]
// [Tags "Base", "Content", "Color", "Font", "Protected"]
@sapHighlightTextColor: contrast(@sapHighlightColor, @sapTextColor, #fff); /* TODO */

// [Label "Title Text Color"]
// [Description "The text color of the application title"]
// [Tags "Base", "Content", "Color", "Font", "Protected"]
@sapTitleColor: contrast(@sapBaseColor, lighten(@sapTextColor,20), #fff); /* TODO */

// [Label "Negative Color"]
// [Description "The color for elements showing negative state"]
// [Tags "Base", "SemanticColor", "Color", "Protected"]
@sapNegativeColor: @sapFlatNegativeElementBG;

// [Label "Critical Color"]
// [Description "The color for elements showing critical state"]
// [Tags "Base", "SemanticColor", "Color", "Protected"]
@sapCriticalColor: @sapFlatCriticalElementBG;

// [Label "Positive Color"]
// [Description "The color for elements showing positive state"]
// [Tags "Base", "SemanticColor", "Color", "Protected"]
@sapPositiveColor: @sapFlatPositiveElement;

// [Label "Informative Color"]
// [Description "The color for elements showing informative state"]
// [Tags "Base", "SemanticColor", "Color", "Protected"]
@sapNeutralColor: @sapFlatNeutralElement;

// [Label "Content Line Height EM"]
// [Description "The height of lines in the content area (in em). This parameter is protected and is not yet released for being changed."]
// [Tags "Base", "Content", "Dimension", "Protected"]
@sapContent_LineHeight: auto; 

// [Label "Content Element Height"]
// [Description "The height of inline elements in the content area (in em). This parameter is protected and is not yet released for being changed."]
// [Tags "Base", "Content", "Dimension", "Protected"]
@sapContent_ElementHeight: auto; /* do not use */

// [Label "Content Element Height PX"]
// [Description "The height of lines in the content area (in pixel). This parameter is protected and is not yet released for being changed."]
// [Tags "Base", "Content", "Dimension", "Protected"]
@sapContent_ElementHeight_PX: 22px; /* do not use */

// [Label "Content Icon Height"]
// [Description "The height of inline icons in the content area (in pixel). This parameter is protected and is not yet released for being changed."]
// [Tags "Base", "Content", "Dimension", "Protected"]
@sapContent_IconHeight: 16px; /* do not use */

// [Label "Content Label Color"]
// [Description "The color of labels in the content area. This parameter is protected and is not yet released for being changed."]
// [Tags "Base", "Content", "Color", "Font", "Protected"]
@sapContent_LabelColor: lighten(@sapTextColor, 26.5); /* TODO */

// [Label "Content Monospace Font Family"]
// [Description "Defines which monospaced font is used for specific texts in the content area. This parameter is protected and is not yet released for being changed."]
// [Tags "Base", "Content", "Font", "Protected"]
@sapContent_MonospaceFontFamily: lucida console, monospace; /* TODO */

// [Label "Content Disabled Text Color"]
// [Description "The color of texts on disabled screen elements in the content area. This parameter is protected and is not yet released for being changed."]
// [Tags "Base", "Content", "Color", "Font", "Protected"]
@sapContent_DisabledTextColor: lighten(@sapTextColor,80); /* TODO */

// [Label "Content Foreground Color"]
// [Description "The foreground color of the content area. This parameter is protected and is not yet released for being changed."]
// [Tags "Base", "Content", "Color", "Protected"]
@sapContent_ForegroundColor: #c5c5c5; /* TODO */

// [Label "Content Foreground Border Color"]
// [Description "The foreground color of the borders of the content area. This parameter is protected and is not yet released for being changed."]
// [TranslationKey "sapContent_ForegroundBorderCol"]
// [Tags "Base", "Content", "Color", "Protected"]
@sapContent_ForegroundBorderColor: darken(desaturate(@sapContent_ForegroundColor, 16), 12); /* TODO */

// [Label "Content Foreground Text Color"]
// [Description "The foreground color of texts in the content area. This parameter is protected and is not yet released for being changed."]
// [Tags "Base", "Content", "Color", "Font", "Protected"]
@sapContent_ForegroundTextColor: contrast(@sapContent_ForegroundColor, @sapTextColor, #fff); /* TODO */

// [Label "Shell Background Color"]
// [Description "The background color of the shell. This parameter is protected and is not yet released for being changed."]
// [Tags "Base", "Shell", "Color", "Protected"]
@sapShell_Background: #fff; /* TODO */

// [Label "Shell Border Color"]
// [Description "The color of the borders of the shell. This parameter is protected and is not yet released for being changed."]
// [Tags "Base", "Shell", "Color", "Protected"]
@sapShell_BorderColor: #5c5c5c; /* TODO */

// [Label "Shell Text Color"]
// [Description "The color of texts in the shell. This parameter is protected and is not yet released for being changed."]
// [Tags "Base", "Shell", "Color", "Font", "Protected"]
@sapShell_TextColor: contrast(@sapShell_Background, @sapTextColor, #fff); /* TODO */

// [Label "Button Border Thickness"]
// [Description "The thickness of button borders. This parameter is protected and is not yet released for being changed."]
// [Tags "Base", "Button", "Dimension", "Protected"]
@sapButton_BorderWitdh: 0;

// [Label "Button Corner Radius"]
// [Description "Defines whether a button has rounded corners. This parameter is protected and is not yet released for being changed."]
// [Tags "Base", "Button", "Dimension", "Protected"]
@sapButton_BorderCornerRadius: 2px;

// [Label "Button Background Color"]
// [Description "The background color of buttons. This parameter is protected and is not yet released for being changed."]
// [Tags "Base", "Button", "Color", "Protected"]
@sapButton_Background: @sapFlatButtonStandardBG;

// [Label "Button Border Color"]
// [Description "The color of a button's borders. This parameter is protected and is not yet released for being changed."]
// [Tags "Base", "Button", "Color", "Protected"]
@sapButton_BorderColor: #bfbfbf; /* do not use */

/* progress visual design */

// [Label "Button Text Color"]
// [Description "The color of texts on buttons. This parameter is protected and is not yet released for being changed."]
// [Tags "Base", "Button", "Color", "Font", "Protected"]
@sapButton_TextColor: @sapFlatDarkText;

// [Label "Disabled Button Background Color"]
// [Description "The background color of disabled buttons. This parameter is protected and is not yet released for being changed."]
// [Tags "Base", "Button", "Color", "Protected"]
@sapButton_Disabled_Background: @sapButton_Background;

// [Label "Disabled Button Border Color"]
// [Description "The color of the borders of disabled buttons. This parameter is protected and is not yet released for being changed."]
// [Tags "Base", "Button", "Color", "Protected"]
@sapButton_Disabled_BorderColor: @sapButton_BorderColor;

// [Label "Disabled Button Text Color"]
// [Description "The color of texts on disabled buttons. This parameter is protected and is not yet released for being changed."]
// [Tags "Base", "Button", "Color", "Font", "Protected"]
@sapButton_Disabled_TextColor: contrast(@sapButton_Disabled_Background, mix(@sapButton_TextColor, #fff, 25), mix(#000, #fff, 25));

// [Label "Button Hover Background Color"]
// [Description "The background color of buttons on hover. This parameter is protected and is not yet released for being changed."]
// [Tags "Base", "Button", "Color", "Protected"]
@sapButton_Hover_Background: @sapFlatButtonEmphasizedBG;

// [Label "Button Hover Border Color"]
// [Description "The color of a button's borders on hover. This parameter is protected and is not yet released for being changed."]
// [Tags "Base", "Button", "Color", "Protected"]
@sapButton_Hover_BorderColor: darken(@sapButton_Hover_Background, 7);

// [Label "Button Hover Text Color"]
// [Description "The color of texts on buttons on hover. This parameter is protected and is not yet released for being changed."]
// [Tags "Base", "Button", "Color", "Font", "Protected"]
@sapButton_Hover_TextColor: @sapFlatInvertedText;

// [Label "Emphasized Button Background Color"]
// [Description "The background color of emphasized buttons. This parameter is protected and is not yet released for being changed."]
// [Tags "Base", "Button", "Color", "Protected"]
@sapButton_Emphasized_Background: @sapFlatButtonEmphasizedBG;

// [Label "Emphasized Button Border Color"]
// [Description "The border color of emphasized buttons. This parameter is protected and is not yet released for being changed."]
// [TranslationKey "sapButton_Emphasized_BorderCol"]
// [Tags "Base", "Button", "Color", "Protected"]
@sapButton_Emphasized_BorderColor: darken(@sapButton_Emphasized_Background, 10);

// [Label "Emphasized Button Text Color"]
// [Description "The color of texts on emphasized buttons. This parameter is protected and is not yet released for being changed."]
// [Tags "Base", "Button", "Color", "Font", "Protected"]
@sapButton_Emphasized_TextColor: @sapFlatInvertedText;

// [Label "Reject Button Background Color"]
// [Description "The background color of \"Reject\" buttons. This parameter is protected and is not yet released for being changed."]
// [Tags "Base", "Button", "Color", "Protected"]
@sapButton_Reject_Background: #cc1919;

// [Label "Accept Button Background Color"]
// [Description "The background color of \"Accept\" buttons. This parameter is protected and is not yet released for being changed."]
// [Tags "Base", "Button", "Color", "Protected"]
@sapButton_Accept_Background: black;

// [Label "Field Background Color"]
// [Description "The background color of input fields. This parameter is protected and is not yet released for being changed."]
// [Tags "Base", "Field", "Color", "Protected"]
@sapField_Background: #fff;

// [Label "Field Border Color"]
// [Description "The color of an input field's borders. This parameter is protected and is not yet released for being changed."]
// [Tags "Base", "Field", "Color", "Protected"]
@sapField_BorderColor: #bfbfbf;

// [Label "Field Help Background Color"]
// [Description "The color of the value help icon. This parameter is protected and is not yet released for being changed."]
// [Tags "Base", "Field", "Color", "Protected"]
@sapField_HelpBackground: @sapField_Background;

// [Label "Field Border Thickness"]
// [Description "The thickness of an input field's borders. This parameter is protected and is not yet released for being changed."]
// [Tags "Base", "Field", "Dimension", "Protected"]
@sapField_BorderWitdh: 1px;

// [Label "Field Corner Radius"]
// [Description "Defines whether an input field has rounded corners. This parameter is protected and is not yet released for being changed."]
// [Tags "Base", "Field", "Dimension", "Protected"]
@sapField_BorderCornerRadius: 0;

// [Label "Field Hover Background Color"]
// [Description "The background color of input fields on hover. This parameter is protected and is not yet released for being changed."]
// [Tags "Base", "Field", "Color", "Protected"]
@sapField_Hover_Background: @sapField_Background;

// [Label "Field Hover Border Color"]
// [Description "The color of an input field's borders on hover. This parameter is protected and is not yet released for being changed."]
// [Tags "Base", "Field", "Color", "Protected"]
@sapField_Hover_BorderColor: @sapHighlightColor;

// [Label "Field Help Hover Background Color"]
// [Description "The color of the value help icon on hover. This parameter is protected and is not yet released for being changed."]
// [Tags "Base", "Field", "Color", "Protected"]
@sapField_Hover_HelpBackground: @sapHighlightColor;

// [Label "Focused Field Background Color"]
// [Description "The background color of focused input fields. This parameter is protected and is not yet released for being changed."]
// [Tags "Base", "Field", "Color", "Protected"]
@sapField_Focus_Background: @sapField_Background;

// [Label "Focused Field Border Color"]
// [Description "The color of a focused input field's borders. This parameter is protected and is not yet released for being changed."]
// [Tags "Base", "Field", "Color", "Protected"]
@sapField_Focus_BorderColor: @sapHighlightColor;

// [Label "Focused Field Help Background Color"]
// [Description "The background color of a focused input field's value help icon. This parameter is protected and is not yet released for being changed."]
// [Tags "Base", "Field", "Color", "Protected"]
@sapField_Focus_HelpBackground: @sapField_Focus_Background;

// [Label "Disabled Field Background Color"]
// [Description "The background color of disabled input fields. This parameter is protected and is not yet released for being changed."]
// [Tags "Base", "Field", "Protected"]
@sapField_Disabled_Background: #fbfbfb;

// [Label "Disabled Field Border Color"]
// [Description "The color of a disabled input field's borders. This parameter is protected and is not yet released for being changed."]
// [Tags "Base", "Field", "Color", "Protected"]
@sapField_Disabled_BorderColor: #dbdbdb;

// [Label "Disabled Field Help Background Color"]
// [Description "The background color of a disabled input field's value help icon. This parameter is protected and is not yet released for being changed."]
// [TranslationKey "sapField_Disabled_HelpBackgrnd"]
// [Tags "Base", "Field", "Color", "Protected"]
@sapField_Disabled_HelpBackground: @sapField_Disabled_Background;

// [Label "Read Only Field Background Color"]
// [Description "The background color of a read-only input field. This parameter is protected and is not yet released for being changed."]
// [Tags "Base", "Field", "Protected"]
@sapField_ReadOnly_Background: rgba(0,0,0,0); /* transparent; */

// [Label "Read Only Field Border Color"]
// [Description "The color of a read-only input field's borders. This parameter is protected and is not yet released for being changed."]
// [Tags "Base", "Field", "Color", "Protected"]
@sapField_ReadOnly_BorderColor: rgba(0,0,0,0); /* transparent; */

// [Label "Read Only Field Help Color"]
// [Description "The background color of a read-only input field's value help icon. This parameter is protected and is not yet released for being changed."]
// [TranslationKey "sapField_ReadOnly_HelpBackgrnd"]
// [Tags "Base", "Field", "Color", "Protected"]
@sapField_ReadOnly_HelpBackground: @sapField_ReadOnly_Background;

// [Label "Required Field Color"]
// [Description "The color of the asterisk next to required input fields. This parameter is protected and is not yet released for being changed."]
// [Tags "Base", "Field", "Color", "Protected"]
@sapField_RequiredColor: @sapHighlightColor;

// [Label "Invalid Field Color"]
// [Description "The base color of input fields with an invalid value. This parameter is protected and is not yet released for being changed."]
// [Tags "Base", "Field", "Color", "Protected"]
@sapField_InvalidColor: @sapNegativeColor;

// [Label "Invalid Field Background Color"]
// [Description "The background color of input fields with an invalid value. This parameter is protected and is not yet released for being changed."]
// [Tags "Base", "Field", "Color", "Protected"]
@sapField_InvalidBackground: mix(@sapField_InvalidColor, #fff, 20);

// [Label "Warning Field Color"]
// [Description "The base color of an input field indicating a warning. This parameter is protected and is not yet released for being changed."]
// [Tags "Base", "Field", "Color", "Protected"]
@sapField_WarningColor: @sapCriticalColor;

// [Label "Warning Field Background Color"]
// [Description "The background color of an input field indicating a warning. This parameter is protected and is not yet released for being changed."]
// [Tags "Base", "Field", "Color", "Protected"]
@sapField_WarningBackground: mix(@sapField_WarningColor, #fff, 20);

// [Label "Success Field Color"]
// [Description "The base color an input field indicating a successful user action. This parameter is protected and is not yet released for being changed."]
// [Tags "Base", "Field", "Color", "Protected"]
@sapField_SuccessColor: @sapPositiveColor;

// [Label "Success Field Background Color"]
// [Description "The background color of an input field indicating a successful user action. This parameter is protected and is not yet released for being changed."]
// [Tags "Base", "Field", "Color", "Protected"]
@sapField_SuccessBackground: mix(@sapField_SuccessColor, #fff, 20);

// [Label "Group Title Background Color"]
// [Description "The background color of the group header area. This parameter is protected and is not yet released for being changed."]
// [Tags "Base", "Group", "Color", "Protected"]
@sapGroup_TitleBackground: rgba(0,0,0,0); /* transparent; */

// [Label "Group Title Border Color"]
// [Description "The color of the borders of the group header area. This parameter is protected and is not yet released for being changed."]
// [Tags "Base", "Group", "Color", "Protected"]
@sapGroup_TitleBorderColor: rgba(0,0,0,0); /* transparent; */

// [Label "Group Title Text Color"]
// [Description "The text color of the group title. The text color of the title of a group. This parameter is protected and is not yet released for being changed."]
// [Tags "Base", "Group", "Color", "Font", "Protected"]
@sapGroup_TitleTextColor: lighten(@sapTextColor, 20);

// [Label "Group Title Font Size"]
// [Description "The font size of the group title. This parameter is protected and is not yet released for being changed."]
// [Tags "Base", "Group", "Color", "Font", "Protected"]
@sapGroup_Title_FontSize: 1.0em;

// [Label "Group Content Background Color"]
// [Description "The background color of the content area of a group. This parameter is protected and is not yet released for being changed."]
// [Tags "Base", "Group", "Color", "Protected"]
@sapGroup_ContentBackground: @sapField_Background;

// [Label "Group Content Border Color"]
// [Description "The color of the borders of a group's content area. This parameter is protected and is not yet released for being changed."]
// [Tags "Base", "Group", "Color", "Protected"]
@sapGroup_ContentBorderColor: darken(desaturate(@sapGroup_TitleBorderColor,9),9);

// [Label "Group Border Thickness"]
// [Description "The thickness of the borders of a group's content area. This parameter is protected and is not yet released for being changed."]
// [Tags "Base", "Group", "Dimension", "Protected"]
@sapGroup_BorderWidth: 1px;

// [Label "Group Corner Radius"]
// [Description "Defines whether a group has rounded corners. This parameter is protected and is not yet released for being changed."]
// [Tags "Base", "Group", "Dimension", "Protected"]
@sapGroup_BorderCornerRadius: 0;

// [Label "Group Footer Background Color"]
// [Description "The background color of the footer area of a group. This parameter is protected and is not yet released for being changed."]
// [Tags "Base", "Group", "Color", "Protected"]
@sapGroup_FooterBackground: rgba(0,0,0,0); /* transparent; */

// [Label "Toolbar Background Color"]
// [Description "The background color of the toolbar. This parameter is protected and is not yet released for being changed."]
// [Tags "Base", "Toolbar", "Color", "Protected"]
@sapToolbar_Background: #ffffff;

// [Label "Toolbar Separator Color"]
// [Description "The color of a toolbar's separators. This parameter is protected and is not yet released for being changed."]
// [Tags "Base", "Toolbar", "Color", "Protected"]
@sapToolbar_Separator: red;

// [Label "List Header Background Color"]
// [Description "The background color of the header area of lists. This parameter is protected and is not yet released for being changed."]
// [Tags "Base", "List", "Color", "Protected"]
@sapList_HeaderBackground: #fff;

// [Label "List Header Border Color"]
// [Description "The color of the borders of the list header area. This parameter is protected and is not yet released for being changed."]
// [Tags "Base", "List", "Color", "Protected"]
@sapList_HeaderBorderColor: darken(@sapList_HeaderBackground,10);

// [Label "List Header Text Color"]
// [Description "The color of texts on the list header area. This parameter is protected and is not yet released for being changed."]
// [Tags "Base", "Button", "Color", "Font", "Protected"]
@sapList_HeaderTextColor: contrast(@sapList_HeaderBackground, lighten(@sapTextColor, 20), #fff);

// [Label "List Border Color"]
// [Description "The color of the border in a list separating the entries. This parameter is protected and is not yet released for being changed."]
// [Tags "Base", "List", "Color", "Protected"]
@sapList_BorderColor: #ddd;

// [Label "List Grid Thickness"]
// [Description "The thickness of the border in a list separating the entries. This parameter is protected and is not yet released for being changed."]
// [Tags "Base", "List", "Dimension", "Protected"]
@sapList_BorderWidth: 1px;

// [Label "List Highlight Color"]
// [Description "The color of highlighted elements in lists. This parameter is protected and is not yet released for being changed."]
// [Tags "Base", "List", "Color", "Protected"]
@sapList_HighlightColor: @sapHighlightColor;

// [Label "List Selection Background Color"]
// [Description "The background color of selected elements in lists. This parameter is protected and is not yet released for being changed."]
// [TranslationKey "sapList_SelectBackgrndColor"]
// [Tags "Base", "List", "Color", "Protected"]
@sapList_SelectionBackgroundColor: mix(@sapList_HighlightColor, #fff, 10);

// [Label "List Hover Background Color"]
// [Description "The background color of lists on hover. This parameter is protected and is not yet released for being changed."]
// [Tags "Base", "List", "Color", "Protected"]
@sapList_Hover_Background: @sapHighlightColor;

// [Label "Scrollbar Face Color"]
// [Description "The color of the surface of a scrollbar. This parameter is protected and is not yet released for being changed."]
// [Tags "Base", "Scrollbar", "Color", "Protected"]
@sapScrollBar_FaceColor: #fff;

// [Label "Scrollbar Track Color"]
// [Description "The color of the track of a scrollbar. This parameter is protected and is not yet released for being changed."]
// [Tags "Base", "Scrollbar", "Color", "Protected"]
@sapScrollBar_TrackColor: #fff;

// [Label "Scrollbar Border Color"]
// [Description "The color of the borders of a scrollbar. This parameter is protected and is not yet released for being changed."]
// [Tags "Base", "Scrollbar", "Color", "Protected"]
@sapScrollBar_BorderColor: #999;

// [Label "Scrollbar Symbol Color"]
// [Description "The color of the scroll arrows in a scrollbar. This parameter is protected and is not yet released for being changed."]
// [Tags "Base", "Scrollbar", "Color", "Protected"]
@sapScrollBar_SymbolColor: #666;

// [Label "Scrollbar Dimension"]
// [Description "The size of the scrollbar (in pixel). This parameter is protected and is not yet released for being changed."]
// [Tags "Base", "Scrollbar", "Dimension", "Protected"]
@sapScrollBar_Dimension: 16px;



/* SCROLLBAR (Chrome) */
::-webkit-scrollbar {
	background-color: @scrollbarBG;
	width: 8px;
	height: 8px;
	-webkit-border-radius: 0px;
}

::-webkit-scrollbar-button {
	background-color: transparent;
	height: 0px;
	width: 0px;
}

::-webkit-scrollbar-track {
	background-color: transparent;
}

::-webkit-scrollbar-track-piece {
	background-color: transparent;
}

::-webkit-scrollbar-thumb {
	-webkit-border-radius: 2px;
	background-color:@scrollbarThumbBG;
}

::-webkit-scrollbar-thumb:hover {
	background-color: darken(#69767F, 1,5%);
}

::-webkit-scrollbar-corner {
	background-color: transparent;
}

::-webkit-resizer {
	background-color: transparent;
}

/* ================================= */
/* Global CSS for Light theme */
/* To make controls themable we used common variables for all themes */
/* ================================= */

/* BACKGROUND COLORS */
@DarkerBlue:#2f3c48;  // for header
@DarkBlue:#3f5161;	// for side bar
@DarkHightlighBlue:#416b8e; // for hightlight selections
@LighBlueColor:#50B2CC;

@LightGray:#d3d8de; // for toolbar
@LighterGray:#f0f4f9; // for panels, tabs, dialogs
@HighlightBg: #005b8d;  // blue bg for menus


/* FONT COLORS */
@LighBlueColor:#50B2CC;
@LightGreenColor:#6bb647;
@LightPurpleColor:#8d67ab;

@sapFlatBrand: #007cc0;
@LightBG: @LighterGray;
@ShellBg:@LightBG;
@ToolbarBg:@LightGray; // bg color for the toolbar
@RightSideBarClr:@DarkBlue;  //color for icons
@PanelBg:@LighterGray; // bg color for the panels
@HeaderBG:@DarkerBlue; // bg for header
@HeaderBrdr:#dadce0;
@HeaderLightClr:#FFFFFF; // a ligther color for creating the inset effect of the header


@ToolbarBrdr:#c4c4c4;
@ToolbarClr:@DarkBlue;  // the default color for toolbar icons
@BaseFontClr:#3D3D3D;
@menuBarClr:#b7cee4; //file menu colors
@BaseFontSize:14px;
@ActiveBG:#fff;
@BrandSupport:#016ca4;
@RepoBrowserBG:@PanelBg;
@SideNavBarBG:@DarkBlue;  // Color for left side bar
@SideNavBarIconClr:#b7cee4; // color for left side bar icons
@SideNavBarHoverClr:#45596a; // color for hover the button

@SideBarHighlightBG:@DarkHightlighBlue; // bg color for selected buttons on sidebars
@RepoBrowserTreeNodeClr:#FF9900; // color for the folders

@EditorTabStripBG:#E5E5E5; // bg color of the tabs for the editors
@EditorTabClr:#3D3D3D;
@EditorXClr:#747474; // close button for tabs
@EditorSelBG:#fdfeff; // bg color of the selected tab
@EditorTabStribBrd:#E5E5E5; // bottom border of the tabs
@EditorBG::#EFEFEF; // bg color of the editor

@DlgBG: @PanelBg; // The bg color of the dialg
@DlgHdrClr:#0c73b5; // Dialog header font color - blue
@DlgHdrBG:#FFFFFF; // Dialog header background - white
@DlgHdrLine:#d9d9d9; // Dialog header separator line - gray
@InsetBrdrLine: inset 0px 1px 0px 0px #FFFFFF; // white line giving inset effect for dialogs

@BtnBG: #f7f7f7; // gray bg for buttons
@BtnBGHover:#eaeaea; // hover bg color
@BtnClr:#333; // color for buttons
@BtnEmphClr:#017cc0;

@scrollbarBG: #E8E8E8;
@scrollbarThumbBG:#C2C1C1;




