/*global ca, opaTest*/
jQuery.sap.require("sap.ui.test.Opa5");
jQuery.sap.require("sap.ui.test.opaQunit");

jQuery.sap.require("{{namespace}}test.opa.arrangements.Common");//variable
sap.ui.test.Opa5.extendConfig({
    arrangements : new {{namespace}}test.opa.arrangements.Common(),
    viewNamespace : "{{namespace}}.view."//variable
});

module("{{namespace}}test.opa.AllOpaTests");

//Load all page objects needed for this test
{{~#each oQunitData.aSelectedViews}}
jQuery.sap.require("{{namespace}}testtest.opa.pageObjects.{{this}}");
{{/each~}}
jQuery.sap.require("{{namespace}}test.opa.pageObjects.Common");

//exchange with your footer action logic
opaTest("Footer action should trigger log entry", function(Given, When, Then) {
    // Arrangements
	Given.iStartMyApplicationInAFrame();
	
	//Actions
    When.onPageS1.iClickOnFooterButton("ADDITIONAL_BTN1");
    
	// Assertions
	Then.onPageS1.iGotLogEntryContaining("additional button 1 pressed");
});