/*global ca*/ //variable
/*
 * OPA test
 */
QUnit.config.testTimeout = 60000;

// alias for root module context
// test alias, relative path from testsuite_opa.qunit.js to src/test/qunit
jQuery.sap.registerModulePath("{{namespace}}test", "../");
jQuery.sap.require("{{namespace}}test.ModulePathForTests");

//code alias
{{namespace}}test.ModulePathForTests.registerModulePathForTests("{{namespace}}");

jQuery.sap.require("{{namespace}}test.opa.AllOpaTests");