<template data-controller-name="{{basicSAPUI5ApplicationProject.parameters.namespace.value}}.controller.{{basicSAPUI5ApplicationProject.parameters.name.value}}">
	<div data-sap-ui-type="sap.m.App">
		<div data-sap-ui-type="sap.m.Page" data-title="{i18n>title}">
			<div data-sap-ui-aggregation="content">
			</div>
		</div>
	</div>
</template>