/*
* {{fileName}}.js testsuite
*/
QUnit.config.testTimeout = 60000;
 
// test alias, relative path from {{testSuiteFileNameForTemplate}} to the test resources
jQuery.sap.registerModulePath("testAlias", "test-files/{{testFileNameForTemplate}}");
 
// Register the code alias: relative path from {{testSuiteFileNameForTemplate}} to the application code
jQuery.sap.registerModulePath("appContext", "../..{{selectedJSFilePath}}"); 
 
// tests to run
jQuery.sap.require("testAlias");

