{
	"Type": "sap.ui.core.mvc.JSONView",
	"controllerName": "{{basicSAPUI5ApplicationProject.parameters.namespace.value}}.controller.{{basicSAPUI5ApplicationProject.parameters.name.value}}",
	"content": [{
		"Type": "sap.m.App",
		"pages": [{
			"Type": "sap.m.Page",
			"title": "{i18n>title}",
			"content": [
			]
		}]
	}]
}