.exprEditorInnerLayout li[aria-level="1"] {
    font-weight: bold;
}
.exprEditorInnerLayout {
    min-width: 500px;
    min-height: 300px;
}
.exprEditorOuterLayout {
    overflow: auto;
}
li.ace_autocomplete_selected {
    background: #5b8ac0;
}
li.hoveredSuggestionItem {
    background: #cae1ff;
}
ul.ace_autocomplete {
    height: 150px;
    width: 200px;
    overflow: auto;
    border-width: 1px !important;
    border-style: solid !important;
    border-color: grey !important;
}
.noBullet {
    background-image: none; 
}
.noBullet: hover {
    background-image: none;
}

.treePanel {
    border-width: 0.909px !important;
    border-style: solid !important;
    border-color: #bfbfbf;
    padding-top: 5;
}

.searchresult {
    background-color: #ffff33;
}

.expandCollapseButton {
    float: right; 
}

.PanelTitle {
    float: right; 
}

.exprEditorSplitter {
    /*margin-left:5px;*/
    /* margin-right: 5px !important;*/
}
.exprEditorSplitterRow {
    margin-right: 5px !important;
    padding-right: 5px !important;
    text-align: left !important;
}
.expressionEditorButton {
    margin-top: 5px;
    margin-right: 5px;
}

.exprEditorTreeToolbar {
    margin-top: 3px;
    margin-bottom: 2px;
}

.expressionEditorLabel {
    margin-left: 5px;
}
.aceEditorArea {
    height: 100%;
    overflow: auto;
}

.filterField {
    background-image: url("/sap/hana/ide/common/plugin/expressioneditor/images/Filter.png");
    background-repeat: no-repeat;
    background-position: left;
    padding-left: 17px;
}

.searchField {
    background-image: url("/sap/hana/ide/common/plugin/expressioneditor/images/search_16.png");
    background-repeat: no-repeat;
    background-position: left;
    padding-left: 17px;
}

.validationResultPopup .ui-dialog-titlebar-close .ui-button-text {
    display: none;
}
.validationResultPopup .ui-dialog-titlebar-close {
    float: right;
}
.validationResultPopup .ui-dialog-titlebar {
    padding: 2px;
}
.validationResultPopup .ui-dialog-content {
    font-size: 12px;
    padding: 2px;
}
.validationResultPopup .ui-dialog-buttonpane {
    text-align: center;
    padding: 2px;
}

#editor {
    position: absolute;
    top: 0;
    right: 100px;
    bottom: 100px;
    left: 0;
}
.ace_marker-layer .acmark_error {
    position: absolute;
    z-index: 5;
    background-color: transparent;
    background-repeat: repeat-x;
    background-position: 0% 100%;
    display: inline-block;
    margin: 0px 0px 0px 0px;
    pointer-events: visible;
}
.ace_editor .ace_marker-layer .errorType_error {
    background-image: url(/sap/hana/ide/common/plugin/expressioneditor/css/UnderlineError.png);
}
.ace_editor .ace_marker-layer .errorType_warning {
    background-image: url(/sap/hana/ide/common/plugin/expressioneditor/css/UnderlineWarning.png);
}
.ace_editor .ace_marker-layer .errorType_info {
    border-bottom: 1px dotted #007CC0
}
.ace_editor .ace_tooltip {
    background: white;
    border: medium none;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
    font-family: Arial;
    font-size: 12px;
    padding: 4px;
}
.ace_editor .errorType_error {
    color: #E22525;
}
.ace_editor .errorType_warning {
    color: #D14900;
}
.ace_editor .errorType_info {
    color: #007CC0;
}