/*global ca*/ //variable
jQuery.sap.declare("{{namespace}}test.opa.arrangements.Common");
jQuery.sap.require("sap.ui.test.Opa5");

{{namespace}}test.opa.arrangements.Common = sap.ui.test.Opa5.extend("{{namespace}}test.arrangements.Common", {//variable

	iStartMyApplicationInAFrame : function() {
	    var parentPath = jQuery.sap.getModulePath("{{namespace}}");

	    this.iStartMyAppInAFrame([parentPath + "/localIndex.html?responderOn=true"]);
	    
	    this._increaseAppLogLevelToGetInfoMessagesFromActions();
	    
		return this;
    },
    
    _increaseAppLogLevelToGetInfoMessagesFromActions : function(){
        return this.waitFor({
		    success : function(){
		        var jQueryInFrame = sap.ui.test.Opa5.getJQuery();
	            jQueryInFrame.sap.log.setLevel(jQueryInFrame.sap.log.LogLevel.DEBUG);
		    }
		});
    }
});