{
	"_version": "1.2.0",

	"sap.app": {
		"_version": "1.2.0",
		{{~#if mode.internal}}
            "id": "${project.artifactId}",
        {{~else}}
		    "id": "{{smartTemplate.parameters.ProjectNamespace.value}}",
        {{~/if}}
        "type": "application",
		"i18n": "i18n/i18n.properties",
		"applicationVersion": {
        {{~#if mode.internal}}
			"version": "${project.version}"
        {{~else~}}
			"version": "1.0.0"
        {{~/if}}
		},
		"title": "\{{appTitle}}",
		"description": "\{{appDescription}}",
		"tags": {
			"keywords": [{{smartTemplate.parameters.Keywords.value}}]
		},
		{{~#if mode.internal}}
			"ach": "{{smartTemplate.parameters.ACH.value}}",
			"resources": "resources.json",
		{{/if}}
		"dataSources": {
			"mainService": {
            {{~#if connectionData.runtimeUrl}}
        		"uri": "{{connectionData.runtimeUrl}}",
            {{~else}}
        		"uri": "/",
        	{{~/if}}
				"type": "OData",
				"settings": {
					{{~#if annotations}}
						"annotations": [
	                    {{~#each annotations}}"
	                    	{{~this.name}}"{{#unless @last}},{{/unless}}                                               
	                    {{~/each}}
	                    {{~#if generate}},"localAnnotations"{{/if}}],
					{{~/if}}
					"localUri": "localService/metadata.xml"
				}
			}
		{{~#if annotations}},
        {{~#each annotations}}
        	"{{this.name}}": {
          {{~#if this.runtimeUrl}}
		    	"uri": "{{{this.runtimeUrl}}}",
				"type": "ODataAnnotation",
				"settings": {
    		    {{~#if this.generateInModelFolder}}
                    "localUri": "localService/{{this.filename}}"
                {{~else}}
                    "localUri": "/{{this.filename}}"
                {{~/if}}
                }
		  {{~else}}
		    {{~#if this.generateInModelFolder}}
		    	"uri": "annotations/{{this.filename}}",
				"type": "ODataAnnotation",
				"settings": {
                    "localUri": "annotations/{{this.filename}}"
                }
   		    {{~else}}
		    	"uri": "/{{this.filename}}",
				"type": "ODataAnnotation",
				"settings": {
                    "localUri": "/{{this.filename}}"
                }
    		{{~/if}}
    	  {{~/if}}
			}{{#unless @last}},{{/unless}} 
    	{{~/each}}			
	{{~/if}}
		{{~#if generate}},
			"localAnnotations": {
		    	"uri": "annotations/annotations.xml",
				"type": "ODataAnnotation",
				"settings": {
                    "localUri": "annotations/annotations.xml"
                }
			}
		{{~/if}}
		},
		"offline": false
	},

	"sap.ui": {
		"_version": "1.2.0",

		"technology": "UI5",
		"icons": {
            "icon": "",
            "favIcon": "",
            "phone": "",
            "phone@2": "",
            "tablet": "",
            "tablet@2": ""
        },
		"deviceTypes": {
			"desktop": true,
			"tablet": true,
			"phone": true
		},
		"supportedThemes": [
            "sap_hcb",
            "sap_bluecrystal"
        ]
	},

	"sap.ui5": {
		"_version": "1.1.0",

		"resources": {
			"js": [],
			"css": []
		},

		"dependencies": {
            {{~#if mode.internal}}
                "minUI5Version": "${sap.ui5.dist.version}",
            {{~else}}
                "minUI5Version": "1.32.1",
            {{~/if}}
			"libs": {
                "sap.ui.core": {},
                "sap.m": {},
                "sap.ui.comp": {},
                "sap.uxap": {},
                "sap.suite.ui.generic.template": {}
			},
			"components": {}
		},

		"models": {
			"i18n": {
                "type": "sap.ui.model.resource.ResourceModel",
                "uri": "i18n/i18n.properties"
            },
            {{~#if generate}}
			"@i18n": {
                "type": "sap.ui.model.resource.ResourceModel",
                "uri": "i18n/i18n.properties"
            },            
            {{/if}}
             "i18n|sap.suite.ui.generic.template.ListReport|{{smartTemplate.parameters.ODataCollection.value.name}}": {
               "type": "sap.ui.model.resource.ResourceModel",
               "uri": "i18n/ListReport/{{smartTemplate.parameters.ODataCollection.value.name}}/i18n.properties"
            },
            "i18n|sap.suite.ui.generic.template.ObjectPage|{{smartTemplate.parameters.ODataCollection.value.name}}": {
               "type": "sap.ui.model.resource.ResourceModel",
               "uri": "i18n/ObjectPage/{{smartTemplate.parameters.ODataCollection.value.name}}/i18n.properties"
            },
            {{~#if smartTemplate.parameters.NavigationFromOdataCollection.value.name}}
            "i18n|sap.suite.ui.generic.template.ObjectPage|{{smartTemplate.parameters.NavigationFromOdataCollection.value.name}}": {
               "type": "sap.ui.model.resource.ResourceModel",
               "uri": "i18n/ObjectPage/{{smartTemplate.parameters.SubODataCollection.value.name}}/i18n.properties"
            },
            {{/if~}}
			"": {
                "dataSource": "mainService",
                "settings": {
                    "defaultBindingMode": "TwoWay",
                    "defaultCountMode": "Inline",
                    "refreshAfterChange": false
                }
            }
		},

		"extends": {
			"extensions": {}
		},
		
		"contentDensities": {
            "compact": true,
            "cozy": true
        }
	},
	
	"sap.ui.generic.app": {
		"_version": "1.1.0",
		"pages": [{
			"entitySet": "{{smartTemplate.parameters.ODataCollection.value.name}}",
			"component": {
			    "name": "sap.suite.ui.generic.template.ListReport",
			    "list": true
			},
			"pages": [{
				"entitySet": "{{smartTemplate.parameters.ODataCollection.value.name}}",
				"component": {
				    "name": "sap.suite.ui.generic.template.ObjectPage"
				}{{#if smartTemplate.parameters.NavigationFromOdataCollection.value.name}} ,
				"pages": [{
					"navigationProperty": "{{smartTemplate.parameters.NavigationFromOdataCollection.value.name}}",
					"entitySet": "{{smartTemplate.parameters.SubODataCollection.value.name}}",
					"component": {
					    "name": "sap.suite.ui.generic.template.ObjectPage"
					}
    	        }]{{/if}}
            }]
        }]
	},
	
	{{~#if smartTemplate.parameters.ABAPDeployPath.value}}
		"sap.platform.abap": {
			"_version": "1.2.0",
			"uri": "{{smartTemplate.parameters.ABAPDeployPath.value}}"
		},
	{{~/if}}

	{{~#if mode.internal}}
		"sap.fiori": {
			"_version": "1.1.0",
			"registrationIds": [
				{{#if smartTemplate.parameters.FioriID.value}}
					"{{smartTemplate.parameters.FioriID.value}}"
				{{/if}}
			],
			"archeType": "transactional"
		},
	{{~/if}}

	"sap.platform.hcp": {
		"_version": "1.2.0",
		"uri": ""
	}
}