sap.ui.define(["sap/ui/test/Opa5","{{namespacePath}}test/opa/pageObjects/Common"], function(Opa5){ //variable
  "use strict";

  var Common = Opa5.extend("{{namespace}}test.opa.pageObjects.Common",{ //variable

	//You can have some utility functionality for all Page Objects deriving from it
	getI18nText: function(sI18nKey) {
		var oResourceBundle = new sap.ui.model.resource.ResourceModel({
			bundleUrl: jQuery.sap.getModulePath("{{namespace}}") + "/i18n/i18n.properties"
		}).getResourceBundle();
		return oResourceBundle.getText(sI18nKey);
	},

	iGotLogEntryContaining: function(sLogFragment) {
		return this.waitFor({
			check: function() {
				var aLogEntries = sap.ui.test.Opa5.getJQuery().sap.log.getLogEntries();
				return aLogEntries.some(function(oLogEntry) {
					var sMessage = oLogEntry.message;
					return sMessage.indexOf(sLogFragment) > -1;
				});
			},
			success: function() {
				ok(true, sLogFragment + ": was logged");
			},
			errorMessage: "Didn't log: " + sLogFragment
		});
	}    
  });
  return Common;
});