jQuery.sap.declare("{{projectName}}.util.Controller");

sap.ui.core.mvc.Controller.extend("{{projectName}}.util.Controller", {
	getEventBus : function() {
		return sap.ui.getCore().getEventBus();
	},

	getRouter : function() {
		return sap.ui.core.UIComponent.getRouterFor(this);
	}
});