#ContainerTargetDesign .sapUiBtn {
	background-color: #e5e5e5;
	border-color: #bfbfbf;
	border-radius: 2px;
	border-style: solid;
	border-width: 0 0 1px 0;
	color: #000000;
	cursor: pointer;
	font-family: Arial, Helvetica, sans-serif;
	height: 2rem;
	margin: 0;
	overflow: visible;
	padding: 0 1rem;
	white-space: nowrap;
}

#ContainerTargetDesign .sapUiBtn:hover {
	background-color: #dfdfdf;
}

#ContainerTargetDesign .sapUiBtn:focus {
	background-color: #dfdfdf;
	outline: 1px solid rgba(0,0,0,0.5);
	outline-offset: -1px;
}

#ContainerImplementation .sapUiBtn { 
	background-color: red;
}

