.ControlPalletTile {
	background: #F7F5F0;
	cursor: -webkit-grab;
	float: left;
	margin: 0 8px 8px 0;
	padding-left: 0;
	text-align: center;
	width: 140px;
}

.ControlPalletTile img {
	border: none;
	clear: both;
	display: block;
	height: 32px;
	margin: auto;
	padding-top: 4px;
	vertical-align: top;
	width: 32px;
}

.ControlPalletTile label {
	cursor: -webkit-grab;
	font-size: 12px;
	height: 2rem;
	line-height: 2rem;
	vertical-align: middle;
}

#toggleButtonWYSIWYG {
	font-family: Arial, sans-serif;
	font-size: 0.75rem;
}