/* media queries */

@media all and (max-width: 600px) {

	body {
		overflow: hidden;
	}

	#ToggleMenuButton {
		display: inline-block;
	}

	.VHeaderBar {
		position: absolute;
		width: 100%;
		z-index: 10;
	}

	.VHeaderBar li {
		margin-left: 1rem;
	}

	.navigationOffCanvas {
		background: linear-gradient(190deg, #a6e0ff 0%, #efebe2 80%);
		height: calc(100% - 32px);
		left: -300px;
		overflow-x: auto;
		position: absolute;
		top: calc(2rem + 3px);
		width: 300px;
	}

	.navigationOffCanvas.indented {
		left: 0;
	}

	.content {
		height: calc(100% - 59px); /* ??? */
		left: 0;
		overflow-y: scroll;
		padding-top: 40px;
		position: absolute;
		top: 3px;
		width: 100%;
	}

	.content.indented {
		left: 300px;
	}

	.navigationOffCanvas, .content {
		-moz-transition: 0.05s;
		-webkit-transition: 0.05s;
		transition: 0.05s;
	}

}

@media all and (min-width: 601px) and (max-width: 1024px) {

	#ToggleMenuButton {
		display: none;
	}

	.content {
		padding-left: 15rem;
	}

	.navigationOffCanvas {
		display: block;
		width: 15rem;
	}

	.footer {
		padding-left: calc(15rem + 1rem);
	}

}

@media all and (min-width: 1025px) {

	#ToggleMenuButton {
		display: none;
	}

	.content {
		padding-left: 20rem;
	}

	.navigationOffCanvas {
		display: block;
		width: 20rem;
	}

}

