.navigationOffCanvas {
	background: white;
	color: black;
	cursor: default;
	margin: 0;
	overflow-x: auto;
	padding: 0; 
	position: absolute;
	top: calc(2rem + 3px);
}

.navigationOffCanvas>ul {
	padding-bottom: 2rem;
}

.navigationOffCanvas ul li {
	font-size: 0.75rem;
	line-height: 20px;
	list-style-type: none;
	padding: 0 0.25rem 0 1.5rem;
}

.navigationOffCanvas li a {
	color: #666666;
	text-decoration: none;
}

.navigationOffCanvas li a:hover {
	border-bottom: 1px solid #666666;
}

.navigationOffCanvas li a span.selected {
	border-bottom: none;
	color: #ab218e;
	cursor: default;
}

.VListToggle {
	cursor: pointer;
}

.VListToggle.opened:hover:after {
	content: " ￬";
}

.VListToggle:hover:after {
	content: " ￪";
}