<html>
<head>
    <title>QUnit TestSuite for {{reuselibrarycomponent.LibraryNamespace}}</title>
</head>
<body>
<script>
    /**
     * Method that is called by the Selenium/QUnit framework to retrieve the test suites.
     */
    function suite() {
        var sTestPath = window.location.pathname.substring(0, window.location.pathname.lastIndexOf("/") + 1);
        var suite = new top.jsUnitTestSuite();
        suite.addTestPage(sTestPath + "controls/{{reuselibrarycomponent.parameters.ComponentName.value}}.qunit.html" + window.location.search);
        return suite;
    }
</script>
</body>
</html>