# Translation file of library {{reuselibrary.LibraryNamespace}}.
# __ldi.translation.uuid={{reuselibrary.parameters.TranslationGUID.value}}

#XTIT: Application name
title={{reuselibrary.parameters.LibraryTitle.value}}

#YDES: Application description
description={{reuselibrary.parameters.LibraryDescription.value}}

#XFLD: Any Text
ANY_TEXT=AnyText