<core:FragmentDefinition
  xmlns="sap.m"
  xmlns:core="sap.ui.core"
  xmlns:form="sap.ui.layout.form"
  xmlns:template="http://schemas.sap.com/sapui5/extension/sap.ui.core.template/1">
  <template:repeat list="{facets>}" var="facet">
    <template:if test="{facet>Facets}">
      <template:then>
        <form:SimpleForm>
          <form:title>
            <core:Title text="{path: 'facet>Label', formatter: 'sap.ui.model.odata.AnnotationHelper.format'}"/>
          </form:title>
          <template:with path="facet>Facets" var="facets">
            <core:Fragment fragmentName="{{rtXMLTemplate.parameters.ProjectNamespace.value}}.view.Facets" type="XML"/>
          </template:with>
        </form:SimpleForm>
      </template:then>
      <template:else>
        <core:Fragment fragmentName="{{rtXMLTemplate.parameters.ProjectNamespace.value}}.view.FormFacet" type="XML"/>
      </template:else>
    </template:if>
  </template:repeat>
</core:FragmentDefinition>