
jQuery.sap.require("sap.ui.model.odata.ODataUtils");

sap.ui.controller("{{rtXMLTemplate.parameters.ProjectNamespace.value}}.view.Main", {


    onRowSelectionChange :  function (oEvent) {
        
        this._showDetails(oEvent.getParameter("listItem").getBindingContext().getPath());
    },
    
	_showDetails: function (sPath) {
	
		var oDetailView,
			oView = this.getView(),
			oModel = oView.getModel().model,
			

{{~#unless xmlViewTemplates.[1].preprocess}}
			oMetaModel = oView.getModel().metaModel,
			oMetaContext = oView.getModel().metaContext;	

		oDetailView = sap.ui.view({
			preprocessors: {
				xml: {
					bindingContexts: {
					    meta: oMetaContext
					},
					models: {
					    meta: oMetaModel
					}
				}
			},
			type: sap.ui.core.mvc.ViewType.XML,
			viewName: "{{rtXMLTemplate.parameters.ProjectNamespace.value}}.view.Detail"
		});	
		
{{~else}}
		oDetailView =  sap.ui.view({
            viewName: "{{rtXMLTemplate.parameters.ProjectNamespace.value}}.view.Detail",
            type : sap.ui.core.mvc.ViewType.XML
        });			
{{~/unless}}  

		oDetailView.setModel(oModel);
		oDetailView.bindElement(sPath, {models: oModel});
		sap.ui.getCore().byId("detailsLayout").destroyItems().addItem(oDetailView);
	}
});
